In [2]:
import pandas as pd
train=pd.read_csv('consumption_train.csv')
train

        Unnamed: 0  series_id            timestamp    consumption  temperature
0                0     103088  2014-12-24 00:00:00  101842.233424          NaN
1                1     103088  2014-12-24 01:00:00  105878.048906          NaN
2                2     103088  2014-12-24 02:00:00   91619.105008          NaN
3                3     103088  2014-12-24 03:00:00   94473.706203          NaN
4                4     103088  2014-12-24 04:00:00   96976.755526          NaN
5                5     103088  2014-12-24 05:00:00  109154.512346          NaN
6                6     103088  2014-12-24 06:00:00   91909.721222          NaN
7                7     103088  2014-12-24 07:00:00  100895.387051          NaN
8                8     103088  2014-12-24 08:00:00   99821.982004          NaN
9                9     103088  2014-12-24 09:00:00   91215.992196          NaN
10              10     103088  2014-12-24 10:00:00   92730.008921          NaN
11              11     103088  2014-12-24 11:00:00   85853.654319          NaN
12              12     103088  2014-12-24 12:00:00  105324.940629          NaN
13              13     103088  2014-12-24 13:00:00   84766.187198          NaN
14              14     103088  2014-12-24 14:00:00   90048.839983          NaN
15              15     103088  2014-12-24 15:00:00   96442.396682          NaN
16              16     103088  2014-12-24 16:00:00   82619.377104          NaN
17              17     103088  2014-12-24 17:00:00   96076.782736          NaN
18              18     103088  2014-12-24 18:00:00   98326.714712          NaN
19              19     103088  2014-12-24 19:00:00   96114.281602          NaN
20              20     103088  2014-12-24 20:00:00  117263.642177          NaN
21              21     103088  2014-12-24 21:00:00   95448.676726          NaN
22              22     103088  2014-12-24 22:00:00   97051.753259          NaN
23              23     103088  2014-12-24 23:00:00   96653.327804          NaN
24              24     103088  2014-12-25 00:00:00   96081.470094          NaN
25              25     103088  2014-12-25 01:00:00   96179.904618          NaN
26              26     103088  2014-12-25 02:00:00   95692.419356          NaN
27              27     103088  2014-12-25 03:00:00  118013.619502          NaN
28              28     103088  2014-12-25 04:00:00   98462.648102          NaN
29              29     103088  2014-12-25 05:00:00  109013.891598          NaN
...            ...        ...                  ...            ...          ...
509346      509346     103582  2017-12-17 18:00:00   99370.344589          NaN
509347      509347     103582  2017-12-17 19:00:00   94287.943938          NaN
509348      509348     103582  2017-12-17 20:00:00    8056.546218          NaN
509349      509349     103582  2017-12-17 21:00:00    7576.541712          NaN
509350      509350     103582  2017-12-17 22:00:00    6625.944553          NaN
509351      509351     103582  2017-12-17 23:00:00    8258.901059          NaN
509352      509352     103582  2017-12-18 00:00:00    7176.537957          NaN
509353      509353     103582  2017-12-18 01:00:00    7722.425434          NaN
509354      509354     103582  2017-12-18 02:00:00    7007.124602          NaN
509355      509355     103582  2017-12-18 03:00:00    6607.120847          NaN
509356      509356     103582  2017-12-18 04:00:00    7063.595720          NaN
509357      509357     103582  2017-12-18 05:00:00    7289.480194          NaN
509358      509358     103582  2017-12-18 06:00:00    7849.485451          NaN
509359      509359     103582  2017-12-18 07:00:00    6042.409663          NaN
509360      509360     103582  2017-12-18 08:00:00   47614.564622          NaN
509361      509361     103582  2017-12-18 09:00:00   83869.022602          NaN
509362      509362     103582  2017-12-18 10:00:00  104382.156343          NaN
509363      509363     103582  2017-12-18 11:00:00  103888.034057          NaN
509364      509364     103582  2017-12-18 12:00:00  107313.948570          NaN
509365      509365     103582  2017-12-18 13:00:00  104683.335641          NaN
509366      509366     103582  2017-12-18 14:00:00  105535.108342          NaN
509367      509367     103582  2017-12-18 15:00:00  104382.156343          NaN
509368      509368     103582  2017-12-18 16:00:00  105153.928293          NaN
509369      509369     103582  2017-12-18 17:00:00  106612.765517          NaN
509370      509370     103582  2017-12-18 18:00:00   98998.576393          NaN
509371      509371     103582  2017-12-18 19:00:00   99445.639414          NaN
509372      509372     103582  2017-12-18 20:00:00   11604.814821          NaN
509373      509373     103582  2017-12-18 21:00:00   10823.631017          NaN
509374      509374     103582  2017-12-18 22:00:00   10273.037613          NaN
509375      509375     103582  2017-12-18 23:00:00    8993.025597          NaN

[509376 rows x 5 columns]

In [2]:
train['series_id'].unique().shape

(758,)

In [20]:
import pandas as pd
test=pd.read_csv('cold_start_test.csv')
test

        Unnamed: 0  series_id            timestamp    consumption  temperature
0                0     102781  2013-02-27 00:00:00   15295.740389    17.000000
1                1     102781  2013-02-27 01:00:00   15163.209562    18.250000
2                2     102781  2013-02-27 02:00:00   15022.264079    18.000000
3                3     102781  2013-02-27 03:00:00   15370.420458    17.000000
4                4     102781  2013-02-27 04:00:00   15303.103213    16.900000
5                5     102781  2013-02-27 05:00:00   14553.147024    17.000000
6                6     102781  2013-02-27 06:00:00   40747.970202    17.000000
7                7     102781  2013-02-27 07:00:00   91624.030364    16.900000
8                8     102781  2013-02-27 08:00:00   99778.883564    17.000000
9                9     102781  2013-02-27 09:00:00  104295.450008    19.000000
10              10     102781  2013-02-27 10:00:00  109748.146899    21.050000
11              11     102781  2013-02-27 11:00:00  108301.877951    21.000000
12              12     102781  2013-02-27 12:00:00  110916.732208    23.000000
13              13     102781  2013-02-27 13:00:00  108521.710831    24.100000
14              14     102781  2013-02-27 14:00:00  106486.415985    25.000000
15              15     102781  2013-02-27 15:00:00  105664.935223    25.000000
16              16     102781  2013-02-27 16:00:00  105741.718956    24.200000
17              17     102781  2013-02-27 17:00:00   88365.454946    23.000000
18              18     102781  2013-02-27 18:00:00   70688.366996    24.000000
19              19     102781  2013-02-27 19:00:00   24803.249492    21.700000
20              20     102781  2013-02-27 20:00:00   18551.160311    21.000000
21              21     102781  2013-02-27 21:00:00   14275.463386    19.000000
22              22     102781  2013-02-27 22:00:00   13638.053217    18.200000
23              23     102781  2013-02-27 23:00:00   12617.776214    19.000000
24              24     102781  2013-02-28 00:00:00   15790.101411    19.000000
25              25     102781  2013-02-28 01:00:00   17232.163031    17.950000
26              26     102781  2013-02-28 02:00:00   16065.681385    17.000000
27              27     102781  2013-02-28 03:00:00   15454.567015    17.000000
28              28     102781  2013-02-28 04:00:00   15405.130913    16.150000
29              29     102781  2013-02-28 05:00:00   16162.449926    17.000000
...            ...        ...                  ...            ...          ...
111954      111954     102154  2017-08-25 18:00:00   97540.651592    31.666667
111955      111955     102154  2017-08-25 19:00:00   87345.900649    30.666667
111956      111956     102154  2017-08-25 20:00:00   60450.513861    28.700000
111957      111957     102154  2017-08-25 21:00:00   46215.227419    26.666667
111958      111958     102154  2017-08-25 22:00:00   46541.254309    25.000000
111959      111959     102154  2017-08-25 23:00:00   45724.355473    24.800000
111960      111960     102154  2017-08-26 00:00:00   46013.750128    24.000000
111961      111961     102154  2017-08-26 01:00:00   46130.973279    24.000000
111962      111962     102154  2017-08-26 02:00:00   46098.004268    23.500000
111963      111963     102154  2017-08-26 03:00:00   46226.217090    22.666667
111964      111964     102154  2017-08-26 04:00:00   46361.756358    22.666667
111965      111965     102154  2017-08-26 05:00:00   46255.522877    22.300000
111966      111966     102154  2017-08-26 06:00:00   45607.132322    22.666667
111967      111967     102154  2017-08-26 07:00:00  137000.894915    21.333333
111968      111968     102154  2017-08-26 08:00:00   59776.480741    24.300000
111969      111969     102154  2017-08-26 09:00:00   73125.267101    25.333333
111970      111970     102154  2017-08-26 10:00:00   51321.760950    26.000000
111971      111971     102154  2017-08-26 11:00:00   70813.773085    27.600000
111972      111972     102154  2017-08-26 12:00:00   73022.696843    29.333333
111973      111973     102154  2017-08-26 13:00:00   75044.796204    31.000000
111974      111974     102154  2017-08-26 14:00:00   74542.934587    32.000000
111975      111975     102154  2017-08-26 15:00:00   80283.205780    32.333333
111976      111976     102154  2017-08-26 16:00:00   46431.357604    32.333333
111977      111977     102154  2017-08-26 17:00:00   46317.797677    33.100000
111978      111978     102154  2017-08-26 18:00:00   46314.134453    33.000000
111979      111979     102154  2017-08-26 19:00:00   45812.272836    32.000000
111980      111980     102154  2017-08-26 20:00:00   46863.617975    30.400000
111981      111981     102154  2017-08-26 21:00:00   47413.101497    27.333333
111982      111982     102154  2017-08-26 22:00:00   46544.917532    27.000000
111983      111983     102154  2017-08-26 23:00:00   46332.450571    25.700000

[111984 rows x 5 columns]

In [4]:
del train['Unnamed: 0']

In [5]:
trainx=train

In [3]:
test=pd.read_csv('cold_start_test.csv')
test

        Unnamed: 0  series_id            timestamp    consumption  temperature
0                0     102781  2013-02-27 00:00:00   15295.740389    17.000000
1                1     102781  2013-02-27 01:00:00   15163.209562    18.250000
2                2     102781  2013-02-27 02:00:00   15022.264079    18.000000
3                3     102781  2013-02-27 03:00:00   15370.420458    17.000000
4                4     102781  2013-02-27 04:00:00   15303.103213    16.900000
5                5     102781  2013-02-27 05:00:00   14553.147024    17.000000
6                6     102781  2013-02-27 06:00:00   40747.970202    17.000000
7                7     102781  2013-02-27 07:00:00   91624.030364    16.900000
8                8     102781  2013-02-27 08:00:00   99778.883564    17.000000
9                9     102781  2013-02-27 09:00:00  104295.450008    19.000000
10              10     102781  2013-02-27 10:00:00  109748.146899    21.050000
11              11     102781  2013-02-27 11:00:00  108301.877951    21.000000
12              12     102781  2013-02-27 12:00:00  110916.732208    23.000000
13              13     102781  2013-02-27 13:00:00  108521.710831    24.100000
14              14     102781  2013-02-27 14:00:00  106486.415985    25.000000
15              15     102781  2013-02-27 15:00:00  105664.935223    25.000000
16              16     102781  2013-02-27 16:00:00  105741.718956    24.200000
17              17     102781  2013-02-27 17:00:00   88365.454946    23.000000
18              18     102781  2013-02-27 18:00:00   70688.366996    24.000000
19              19     102781  2013-02-27 19:00:00   24803.249492    21.700000
20              20     102781  2013-02-27 20:00:00   18551.160311    21.000000
21              21     102781  2013-02-27 21:00:00   14275.463386    19.000000
22              22     102781  2013-02-27 22:00:00   13638.053217    18.200000
23              23     102781  2013-02-27 23:00:00   12617.776214    19.000000
24              24     102781  2013-02-28 00:00:00   15790.101411    19.000000
25              25     102781  2013-02-28 01:00:00   17232.163031    17.950000
26              26     102781  2013-02-28 02:00:00   16065.681385    17.000000
27              27     102781  2013-02-28 03:00:00   15454.567015    17.000000
28              28     102781  2013-02-28 04:00:00   15405.130913    16.150000
29              29     102781  2013-02-28 05:00:00   16162.449926    17.000000
...            ...        ...                  ...            ...          ...
111954      111954     102154  2017-08-25 18:00:00   97540.651592    31.666667
111955      111955     102154  2017-08-25 19:00:00   87345.900649    30.666667
111956      111956     102154  2017-08-25 20:00:00   60450.513861    28.700000
111957      111957     102154  2017-08-25 21:00:00   46215.227419    26.666667
111958      111958     102154  2017-08-25 22:00:00   46541.254309    25.000000
111959      111959     102154  2017-08-25 23:00:00   45724.355473    24.800000
111960      111960     102154  2017-08-26 00:00:00   46013.750128    24.000000
111961      111961     102154  2017-08-26 01:00:00   46130.973279    24.000000
111962      111962     102154  2017-08-26 02:00:00   46098.004268    23.500000
111963      111963     102154  2017-08-26 03:00:00   46226.217090    22.666667
111964      111964     102154  2017-08-26 04:00:00   46361.756358    22.666667
111965      111965     102154  2017-08-26 05:00:00   46255.522877    22.300000
111966      111966     102154  2017-08-26 06:00:00   45607.132322    22.666667
111967      111967     102154  2017-08-26 07:00:00  137000.894915    21.333333
111968      111968     102154  2017-08-26 08:00:00   59776.480741    24.300000
111969      111969     102154  2017-08-26 09:00:00   73125.267101    25.333333
111970      111970     102154  2017-08-26 10:00:00   51321.760950    26.000000
111971      111971     102154  2017-08-26 11:00:00   70813.773085    27.600000
111972      111972     102154  2017-08-26 12:00:00   73022.696843    29.333333
111973      111973     102154  2017-08-26 13:00:00   75044.796204    31.000000
111974      111974     102154  2017-08-26 14:00:00   74542.934587    32.000000
111975      111975     102154  2017-08-26 15:00:00   80283.205780    32.333333
111976      111976     102154  2017-08-26 16:00:00   46431.357604    32.333333
111977      111977     102154  2017-08-26 17:00:00   46317.797677    33.100000
111978      111978     102154  2017-08-26 18:00:00   46314.134453    33.000000
111979      111979     102154  2017-08-26 19:00:00   45812.272836    32.000000
111980      111980     102154  2017-08-26 20:00:00   46863.617975    30.400000
111981      111981     102154  2017-08-26 21:00:00   47413.101497    27.333333
111982      111982     102154  2017-08-26 22:00:00   46544.917532    27.000000
111983      111983     102154  2017-08-26 23:00:00   46332.450571    25.700000

[111984 rows x 5 columns]

In [4]:
sub=pd.read_csv('submission_coldstart.csv')
sub

,pred_id,series_id,timestamp,temperature,consumption,prediction_window
0,0,102781,2013-03-03 00:00:00,19.931250,0.0,daily
1,1,102781,2013-03-04 00:00:00,20.034375,0.0,daily
2,2,102781,2013-03-05 00:00:00,19.189583,0.0,daily
3,3,102781,2013-03-06 00:00:00,18.397917,0.0,daily
4,4,102781,2013-03-07 00:00:00,20.762500,0.0,daily
5,5,102781,2013-03-08 00:00:00,19.800000,0.0,daily
6,6,102781,2013-03-09 00:00:00,20.466667,0.0,daily
7,7,103342,2013-06-26 00:00:00,10.486607,0.0,weekly
8,8,103342,2013-07-03 00:00:00,10.006548,0.0,weekly
9,9,102969,2013-12-15 00:00:00,20.214583,0.0,daily
10,10,102969,2013-12-16 00:00:00,20.056250,0.0,daily
11,11,102969,2013-12-17 00:00:00,19.956250,0.0,daily
12,12,102969,2013-12-18 00:00:00,18.352083,0.0,daily
13,13,102969,2013-12-19 00:00:00,18.252083,0.0,daily
14,14,102969,2013-12-20 00:00:00,17.779167,0.0,daily
15,15,102969,2013-12-21 00:00:00,17.918750,0.0,daily
16,16,102718,2015-01-06 00:00:00,19.733333,0.0,daily
17,17,102718,2015-01-07 00:00:00,20.152083,0.0,daily
18,18,102718,2015-01-08 00:00:00,19.583333,0.0,daily
19,19,102718,2015-01-09 00:00:00,20.279167,0.0,daily
20,20,102718,2015-01-10 00:00:00,20.662500,0.0,daily
21,21,102718,2015-01-11 00:00:00,20.950000,0.0,daily
22,22,102718,2015-01-12 00:00:00,21.383333,0.0,daily
23,23,102493,2015-10-17 00:00:00,14.476488,0.0,weekly
24,24,102493,2015-10-24 00:00:00,15.066667,0.0,weekly
25,25,102374,2016-09-17 00:00:00,13.033333,0.0,weekly
26,26,102374,2016-09-24 00:00:00,14.073214,0.0,weekly
27,27,102714,2013-09-03 00:00:00,10.896726,0.0,weekly
28,28,102714,2013-09-10 00:00:00,12.070680,0.0,weekly
29,29,100712,2013-10-17 00:00:00,15.048810,0.0,weekly
...,...,...,...,...,...,...
7499,7499,102161,2017-05-07 00:00:00,17.045833,0.0,daily
7500,7500,102161,2017-05-08 00:00:00,15.813889,0.0,daily
7501,7501,102161,2017-05-09 00:00:00,15.877778,0.0,daily
7502,7502,102161,2017-05-10 00:00:00,17.102778,0.0,daily
7503,7503,100096,2017-07-18 00:00:00,26.209524,0.0,weekly
7504,7504,100096,2017-07-25 00:00:00,25.606118,0.0,weekly
7505,7505,102154,2017-08-27 00:00:00,25.666667,0.0,hourly
7506,7506,102154,2017-08-27 01:00:00,25.000000,0.0,hourly
7507,7507,102154,2017-08-27 02:00:00,24.500000,0.0,hourly
7508,7508,102154,2017-08-27 03:00:00,25.000000,0.0,hourly
7509,7509,102154,2017-08-27 04:00:00,24.000000,0.0,hourly
7510,7510,102154,2017-08-27 05:00:00,22.300000,0.0,hourly
7511,7511,102154,2017-08-27 06:00:00,21.666667,0.0,hourly
7512,7512,102154,2017-08-27 07:00:00,21.000000,0.0,hourly
7513,7513,102154,2017-08-27 08:00:00,24.300000,0.0,hourly
7514,7514,102154,2017-08-27 09:00:00,27.000000,0.0,hourly
7515,7515,102154,2017-08-27 10:00:00,28.333333,0.0,hourly
7516,7516,102154,2017-08-27 11:00:00,30.400000,0.0,hourly
7517,7517,102154,2017-08-27 12:00:00,31.333333,0.0,hourly
7518,7518,102154,2017-08-27 13:00:00,33.000000,0.0,hourly
7519,7519,102154,2017-08-27 14:00:00,32.700000,0.0,hourly
7520,7520,102154,2017-08-27 15:00:00,34.000000,0.0,hourly
7521,7521,102154,2017-08-27 16:00:00,34.000000,0.0,hourly
7522,7522,102154,2017-08-27 17:00:00,34.000000,0.0,hourly
7523,7523,102154,2017-08-27 18:00:00,33.666667,0.0,hourly
7524,7524,102154,2017-08-27 19:00:00,32.666667,0.0,hourly
7525,7525,102154,2017-08-27 20:00:00,29.900000,0.0,hourly
7526,7526,102154,2017-08-27 21:00:00,28.000000,0.0,hourly
7527,7527,102154,2017-08-27 22:00:00,26.666667,0.0,hourly
7528,7528,102154,2017-08-27 23:00:00,27.300000,0.0,hourly

In [6]:
sub[sub['prediction_window']=='daily']['series_id'].unique().shape

(191,)

In [7]:

import xgboost as xgb
from sklearn.model_selection import train_test_split
#from catboost import CatBoostRegressor
#import lightgbm as lgb
#sample=pd.read_csv('submission_format.csv')    
test=pd.read_csv('cold_start_test.csv')
sub=pd.read_csv('submission_coldstart.csv')
final_sub=pd.read_csv('submission_coldstart.csv')
del sub['pred_id']
del sub['consumption']
del sub['prediction_window']
del test['Unnamed: 0']
windows=['daily','hourly','weekly']

for idx,c in enumerate(windows):
#temp2=[]
#dis2=[]
#    for j in range(trainx.shape[0]):
    
#        try:
    ids=final_sub[final_sub['prediction_window']==c]['series_id'].unique().tolist()
    testx=test.loc[test['series_id'].isin(ids)]
          
    #testx=test[test['series_id']==c]
    testy=testx.iloc[:,2]
    subx=sub.loc[sub['series_id'].isin(ids)]
          
    #trainy
    testx['year']=pd.to_datetime(testx['timestamp'],format='%Y-%m-%d %H:%M:%S').dt.year.values.tolist()
    testx['month']=pd.to_datetime(testx['timestamp'],format='%Y-%m-%d %H:%M:%S').dt.month.values.tolist()
    testx['week']=pd.to_datetime(testx['timestamp'],format='%Y-%m-%d %H:%M:%S').dt.week.values.tolist()
    testx['dayofweek']=pd.to_datetime(testx['timestamp'],format='%Y-%m-%d %H:%M:%S').dt.dayofweek.values.tolist()
    # if sundayoff[idx]==1 and saturdayoff[idx]==1:
    #     trainx['WeekDay'] = (trainx['dayofweek'] < 5).astype(int)
    # elif sundayoff[idx]==1 and saturdayoff[idx]==0:
    #     trainx['WeekDay'] = (trainx['dayofweek'] < 6).astype(int)
    # elif sundayoff[idx]==0 and saturdayoff[idx]==0:
    #     trainx['WeekDay'] = (trainx['dayofweek'] < 7).astype(int)
    testx['day']=pd.to_datetime(testx['timestamp'],format='%Y-%m-%d %H:%M:%S').dt.day.values.tolist()
    testx['dayofyear']=pd.to_datetime(testx['timestamp'],format='%Y-%m-%d %H:%M:%S').dt.dayofyear.values.tolist()

    testx['ordinal'] = pd.to_datetime(testx['timestamp'],format='%Y-%m-%d %H:%M:%S').apply(lambda x: x.toordinal())
    #    trainx['ordinal']=trainx['ordinal']-733581
    testx['hour']=pd.to_datetime(testx['timestamp'],format='%Y-%m-%d %H:%M:%S').dt.hour.values.tolist()
    testx['minute']=pd.to_datetime(testx['timestamp'],format='%Y-%m-%d %H:%M:%S').dt.minute.values.tolist()
    testx['seconds']=3600*testx['hour']+60*testx['minute']
    testx['daylight'] = ((testx['hour'] >= 7) & (testx['hour'] <= 18)).astype(int)

    testx_new=testx.iloc[:,3:15]
    #trainx_new
    #    trainx_new=trainx.iloc[0:int(0.90*trainx.shape[0]),3:16]
    #    valx_new=trainx.iloc[int(0.9*trainx.shape[0]):,3:16]
    #    trainy_new=x.iloc[0:int(0.90*trainx.shape[0]):,4]
    #    valy_new=x.iloc[int(0.9*trainx.shape[0]):,4]

    #trainx_new
    X_train, X_valid, y_train, y_valid = train_test_split(testx_new, testy, train_size = 0.95, random_state = 2018)

    # read in data
    dtrain = xgb.DMatrix(X_train,label=y_train)
    dval = xgb.DMatrix(X_valid,label=y_valid)
    #dtrain = lgb.Dataset(trainx_new, label =trainy)

    watchlist = [(dtrain, 'train'),(dval, 'val')]

    # read in data
    #dtrain = xgb.DMatrix(trainx_new,label=trainy)
    #dtrain = lgb.Dataset(trainx_new, label =trainy)

    #watchlist = [(dtrain, 'train')]
    params ={'eta':0.1,'seed':0,'subsample':1.0,'colsample_bytree':1.0,'objective':'reg:linear','max_depth':6,'min_child_weight':1}

    clf1 = xgb.train(params, dtrain, 1000, watchlist, maximize=False, verbose_eval=20,early_stopping_rounds=200)
    #    clf1 = lgb.train(params, dtrain, num_boost_round=800,valid_sets=[dtrain])
    #c
    subx['year']=pd.to_datetime(subx['timestamp'],format='%Y-%m-%d %H:%M:%S').dt.year.values.tolist()
    subx['month']=pd.to_datetime(subx['timestamp'],format='%Y-%m-%d %H:%M:%S').dt.month.values.tolist()
    subx['week']=pd.to_datetime(subx['timestamp'],format='%Y-%m-%d %H:%M:%S').dt.week.values.tolist()
    subx['dayofweek']=pd.to_datetime(subx['timestamp'],format='%Y-%m-%d %H:%M:%S').dt.dayofweek.values.tolist()
    # if idx!=1000:
    #     if sundayoff[idx]==1 and saturdayoff[idx]==1:
    #         testx['WeekDay'] = (testx['dayofweek'] < 5).astype(int)
    #     elif sundayoff[idx]==1 and saturdayoff[idx]==0:
    #         testx['WeekDay'] = (testx['dayofweek'] < 6).astype(int)
    #     elif sundayoff[idx]==0 and saturdayoff[idx]==0:
    #         testx['WeekDay'] = (testx['dayofweek'] < 7).astype(int)
    # else:
    #     testx['WeekDay'] = (testx['dayofweek'] < 5).astype(int)
    subx['day']=pd.to_datetime(subx['timestamp'],format='%Y-%m-%d %H:%M:%S').dt.day.values.tolist()
    subx['dayofyear']=pd.to_datetime(subx['timestamp'],format='%Y-%m-%d %H:%M:%S').dt.dayofyear.values.tolist()
    subx['ordinal'] = pd.to_datetime(subx['timestamp'],format='%Y-%m-%d %H:%M:%S').apply(lambda x: x.toordinal())
    #testx['ordinal']=test_ordinal(x,733581,testx.shape[0])
    #    testx['ordinal'] = pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').apply(lambda x: x.toordinal())
    #    testx['ordinal']=testx['ordinal']-p
    #    testx['Summer']=0
    #    testx.loc[(4<=testx.month) & (testx.month <=7),'Summer']=1
    #    testx['Quarter'] = pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.quarter
    #    testx['month_start'] =pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.is_month_start
    #    testx['month_end'] =pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.is_month_end
    subx['hour']=pd.to_datetime(subx['timestamp'],format='%Y-%m-%d %H:%M:%S').dt.hour.values.tolist()
    subx['minute']=pd.to_datetime(subx['timestamp'],format='%Y-%m-%d %H:%M:%S').dt.minute.values.tolist()
    subx['seconds']=3600*subx['hour']+60*subx['minute']
    subx['daylight'] = ((subx['hour'] >= 7) & (subx['hour'] <= 18)).astype(int)

    sub_tot=subx.iloc[:,2:14]
    dtest = xgb.DMatrix(data=sub_tot)
    a=clf1.predict(dtest)
    final_sub['consumption'][subx.index.tolist()]=a.tolist()
    print('Window completed',(idx,c))

/home/dell/anaconda3/lib/python3.5/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/home/dell/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/dell/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/dell/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/dell/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/dell/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/dell/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/dell/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/dell/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/dell/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/dell/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/dell/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/dell/anaconda3/lib/python3.5/site-packages/sklearn/model_selection/_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

[0]	train-rmse:350706	val-rmse:311860
Multiple eval metrics have been passed: 'val-rmse' will be used for early stopping.

Will train until val-rmse hasn't improved in 200 rounds.
[20]	train-rmse:129160	val-rmse:166829
[40]	train-rmse:102575	val-rmse:135408
[60]	train-rmse:88015	val-rmse:113344
[80]	train-rmse:81145.3	val-rmse:103711
[100]	train-rmse:76880.1	val-rmse:99139.5
[120]	train-rmse:73295.5	val-rmse:95683.8
[140]	train-rmse:70267.6	val-rmse:93784.6
[160]	train-rmse:68371.9	val-rmse:91220
[180]	train-rmse:67012	val-rmse:89984.3
[200]	train-rmse:65652.4	val-rmse:89438.2
[220]	train-rmse:64337.1	val-rmse:88595.8
[240]	train-rmse:62793.4	val-rmse:86263
[260]	train-rmse:61718.5	val-rmse:85216.1
[280]	train-rmse:61040	val-rmse:84991.1
[300]	train-rmse:60314.2	val-rmse:84715.2
[320]	train-rmse:59489	val-rmse:83993.7
[340]	train-rmse:58817.4	val-rmse:83683.3
[360]	train-rmse:58325.8	val-rmse:83435.5
[380]	train-rmse:57898.1	val-rmse:83188.7
[400]	train-rmse:57354.1	val-rmse:82982.3
[420]	train-rmse:56910.3	val-rmse:82852.5
[440]	train-rmse:56541.7	val-rmse:82641.1
[460]	train-rmse:56200.2	val-rmse:82603.3
[480]	train-rmse:55850.1	val-rmse:82523.5
[500]	train-rmse:55481.3	val-rmse:82483.8
[520]	train-rmse:55018.6	val-rmse:82325.2
[540]	train-rmse:54791	val-rmse:82267.9
[560]	train-rmse:54446.5	val-rmse:82139.4
[580]	train-rmse:54106.2	val-rmse:82065.7
[600]	train-rmse:53793.7	val-rmse:81963.5
[620]	train-rmse:53565.1	val-rmse:81880.7
[640]	train-rmse:53361.5	val-rmse:81867.1
[660]	train-rmse:53141.4	val-rmse:81767.4
[680]	train-rmse:52922	val-rmse:81761.9
[700]	train-rmse:52703.6	val-rmse:81710.1
[720]	train-rmse:52485.8	val-rmse:81654.9
[740]	train-rmse:52166.3	val-rmse:81573.7
[760]	train-rmse:51909.9	val-rmse:81488.9
[780]	train-rmse:51722.3	val-rmse:81468.7
[800]	train-rmse:51562.5	val-rmse:81489.1
[820]	train-rmse:51394.4	val-rmse:81566.8
[840]	train-rmse:51247.9	val-rmse:81556.7
[860]	train-rmse:51081.4	val-rmse:81547.5
[880]	train-rmse:50897.8	val-rmse:81476.4
[900]	train-rmse:50667.6	val-rmse:81411.5
[920]	train-rmse:50485.4	val-rmse:81435.9
[940]	train-rmse:50306.8	val-rmse:81615.1
[960]	train-rmse:50184.3	val-rmse:81590.1
[980]	train-rmse:50002.2	val-rmse:81511.6

/home/dell/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/dell/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/dell/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/dell/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/dell/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:90: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/dell/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/dell/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:92: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/dell/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:101: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/dell/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/dell/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:103: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/dell/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:104: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/dell/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Window completed (0, 'daily')
[0]	train-rmse:638270	val-rmse:633398
Multiple eval metrics have been passed: 'val-rmse' will be used for early stopping.

Will train until val-rmse hasn't improved in 200 rounds.
[20]	train-rmse:348953	val-rmse:402505
[40]	train-rmse:307240	val-rmse:375319
[60]	train-rmse:293799	val-rmse:367940
[80]	train-rmse:280150	val-rmse:359461
[100]	train-rmse:261599	val-rmse:356924
[120]	train-rmse:251987	val-rmse:351710
[140]	train-rmse:243331	val-rmse:349468
[160]	train-rmse:233852	val-rmse:348524
[180]	train-rmse:225611	val-rmse:347002
[200]	train-rmse:216387	val-rmse:343760
[220]	train-rmse:210044	val-rmse:341044
[240]	train-rmse:205829	val-rmse:339156
[260]	train-rmse:201068	val-rmse:337743
[280]	train-rmse:193380	val-rmse:336215
[300]	train-rmse:188248	val-rmse:334108
[320]	train-rmse:184074	val-rmse:333504
[340]	train-rmse:178160	val-rmse:331781
[360]	train-rmse:174367	val-rmse:331165
[380]	train-rmse:170322	val-rmse:330224
[400]	train-rmse:166814	val-rmse:330163
[420]	train-rmse:163688	val-rmse:329655
[440]	train-rmse:158813	val-rmse:329732
[460]	train-rmse:155065	val-rmse:328683
[480]	train-rmse:151895	val-rmse:328913
[500]	train-rmse:149365	val-rmse:328945
[520]	train-rmse:145077	val-rmse:328964
[540]	train-rmse:142604	val-rmse:327934
[560]	train-rmse:139903	val-rmse:326857
[580]	train-rmse:136858	val-rmse:325138
[600]	train-rmse:133746	val-rmse:325369
[620]	train-rmse:131760	val-rmse:325664
[640]	train-rmse:128592	val-rmse:324685
[660]	train-rmse:125180	val-rmse:324452
[680]	train-rmse:122980	val-rmse:324038
[700]	train-rmse:120215	val-rmse:323526
[720]	train-rmse:119203	val-rmse:323692
[740]	train-rmse:118317	val-rmse:324182
[760]	train-rmse:117245	val-rmse:324813
[780]	train-rmse:114916	val-rmse:325242
[800]	train-rmse:111510	val-rmse:324223
[820]	train-rmse:109773	val-rmse:323328
[840]	train-rmse:108928	val-rmse:322979
[860]	train-rmse:107399	val-rmse:322989
[880]	train-rmse:105839	val-rmse:322858
[900]	train-rmse:103942	val-rmse:322791
[920]	train-rmse:102765	val-rmse:323267
[940]	train-rmse:101024	val-rmse:322707
[960]	train-rmse:99487.9	val-rmse:322840
[980]	train-rmse:98612.3	val-rmse:322860
Window completed (1, 'hourly')
[0]	train-rmse:476728	val-rmse:443111
Multiple eval metrics have been passed: 'val-rmse' will be used for early stopping.

Will train until val-rmse hasn't improved in 200 rounds.
[20]	train-rmse:312905	val-rmse:288652
[40]	train-rmse:282899	val-rmse:269561
[60]	train-rmse:263120	val-rmse:252964
[80]	train-rmse:251425	val-rmse:243069
[100]	train-rmse:239593	val-rmse:236365
[120]	train-rmse:226972	val-rmse:229626
[140]	train-rmse:210740	val-rmse:218938
[160]	train-rmse:204236	val-rmse:216631
[180]	train-rmse:197028	val-rmse:214913
[200]	train-rmse:191471	val-rmse:212117
[220]	train-rmse:186696	val-rmse:211240
[240]	train-rmse:180049	val-rmse:208910
[260]	train-rmse:175022	val-rmse:207708
[280]	train-rmse:171413	val-rmse:206818
[300]	train-rmse:163158	val-rmse:202692
[320]	train-rmse:159803	val-rmse:201786
[340]	train-rmse:156669	val-rmse:201002
[360]	train-rmse:153529	val-rmse:199806
[380]	train-rmse:149303	val-rmse:198484
[400]	train-rmse:144913	val-rmse:197730
[420]	train-rmse:142743	val-rmse:197480
[440]	train-rmse:139739	val-rmse:197374
[460]	train-rmse:136145	val-rmse:196872
[480]	train-rmse:132501	val-rmse:197880
[500]	train-rmse:129087	val-rmse:196472
[520]	train-rmse:127468	val-rmse:196292
[540]	train-rmse:124663	val-rmse:195142
[560]	train-rmse:122008	val-rmse:195468
[580]	train-rmse:120040	val-rmse:195166
[600]	train-rmse:118265	val-rmse:195083
[620]	train-rmse:114426	val-rmse:194770
[640]	train-rmse:113554	val-rmse:194537
[660]	train-rmse:111861	val-rmse:194528
[680]	train-rmse:110428	val-rmse:194813
[700]	train-rmse:109107	val-rmse:194990
[720]	train-rmse:106636	val-rmse:193518
[740]	train-rmse:104976	val-rmse:194078
[760]	train-rmse:103317	val-rmse:193860
[780]	train-rmse:101399	val-rmse:194184
[800]	train-rmse:99872.4	val-rmse:194254
[820]	train-rmse:98478.2	val-rmse:194162
[840]	train-rmse:97413.4	val-rmse:194247
[860]	train-rmse:96409.9	val-rmse:194535
[880]	train-rmse:95288.9	val-rmse:195402
[900]	train-rmse:94394.9	val-rmse:195293
Stopping. Best iteration:
[715]	train-rmse:107218	val-rmse:193410

Window completed (2, 'weekly')

In [16]:
clf1.get_fscore()

{'day': 4108,
 'daylight': 921,
 'dayofweek': 3072,
 'dayofyear': 3684,
 'hour': 7222,
 'month': 1471,
 'ordinal': 5483,
 'temperature': 16848,
 'week': 1917,
 'year': 1587}

In [13]:
(final_sub['consumption']<0).sum()

774

In [12]:
(test['consumption']<0).sum()

0

In [29]:
test=pd.read_csv('submission_coldstart.csv')
test

,pred_id,series_id,timestamp,temperature,consumption,prediction_window
0,0,102781,2013-03-03 00:00:00,19.931250,0.0,daily
1,1,102781,2013-03-04 00:00:00,20.034375,0.0,daily
2,2,102781,2013-03-05 00:00:00,19.189583,0.0,daily
3,3,102781,2013-03-06 00:00:00,18.397917,0.0,daily
4,4,102781,2013-03-07 00:00:00,20.762500,0.0,daily
5,5,102781,2013-03-08 00:00:00,19.800000,0.0,daily
6,6,102781,2013-03-09 00:00:00,20.466667,0.0,daily
7,7,103342,2013-06-26 00:00:00,10.486607,0.0,weekly
8,8,103342,2013-07-03 00:00:00,10.006548,0.0,weekly
9,9,102969,2013-12-15 00:00:00,20.214583,0.0,daily
10,10,102969,2013-12-16 00:00:00,20.056250,0.0,daily
11,11,102969,2013-12-17 00:00:00,19.956250,0.0,daily
12,12,102969,2013-12-18 00:00:00,18.352083,0.0,daily
13,13,102969,2013-12-19 00:00:00,18.252083,0.0,daily
14,14,102969,2013-12-20 00:00:00,17.779167,0.0,daily
15,15,102969,2013-12-21 00:00:00,17.918750,0.0,daily
16,16,102718,2015-01-06 00:00:00,19.733333,0.0,daily
17,17,102718,2015-01-07 00:00:00,20.152083,0.0,daily
18,18,102718,2015-01-08 00:00:00,19.583333,0.0,daily
19,19,102718,2015-01-09 00:00:00,20.279167,0.0,daily
20,20,102718,2015-01-10 00:00:00,20.662500,0.0,daily
21,21,102718,2015-01-11 00:00:00,20.950000,0.0,daily
22,22,102718,2015-01-12 00:00:00,21.383333,0.0,daily
23,23,102493,2015-10-17 00:00:00,14.476488,0.0,weekly
24,24,102493,2015-10-24 00:00:00,15.066667,0.0,weekly
25,25,102374,2016-09-17 00:00:00,13.033333,0.0,weekly
26,26,102374,2016-09-24 00:00:00,14.073214,0.0,weekly
27,27,102714,2013-09-03 00:00:00,10.896726,0.0,weekly
28,28,102714,2013-09-10 00:00:00,12.070680,0.0,weekly
29,29,100712,2013-10-17 00:00:00,15.048810,0.0,weekly
...,...,...,...,...,...,...
7499,7499,102161,2017-05-07 00:00:00,17.045833,0.0,daily
7500,7500,102161,2017-05-08 00:00:00,15.813889,0.0,daily
7501,7501,102161,2017-05-09 00:00:00,15.877778,0.0,daily
7502,7502,102161,2017-05-10 00:00:00,17.102778,0.0,daily
7503,7503,100096,2017-07-18 00:00:00,26.209524,0.0,weekly
7504,7504,100096,2017-07-25 00:00:00,25.606118,0.0,weekly
7505,7505,102154,2017-08-27 00:00:00,25.666667,0.0,hourly
7506,7506,102154,2017-08-27 01:00:00,25.000000,0.0,hourly
7507,7507,102154,2017-08-27 02:00:00,24.500000,0.0,hourly
7508,7508,102154,2017-08-27 03:00:00,25.000000,0.0,hourly
7509,7509,102154,2017-08-27 04:00:00,24.000000,0.0,hourly
7510,7510,102154,2017-08-27 05:00:00,22.300000,0.0,hourly
7511,7511,102154,2017-08-27 06:00:00,21.666667,0.0,hourly
7512,7512,102154,2017-08-27 07:00:00,21.000000,0.0,hourly
7513,7513,102154,2017-08-27 08:00:00,24.300000,0.0,hourly
7514,7514,102154,2017-08-27 09:00:00,27.000000,0.0,hourly
7515,7515,102154,2017-08-27 10:00:00,28.333333,0.0,hourly
7516,7516,102154,2017-08-27 11:00:00,30.400000,0.0,hourly
7517,7517,102154,2017-08-27 12:00:00,31.333333,0.0,hourly
7518,7518,102154,2017-08-27 13:00:00,33.000000,0.0,hourly
7519,7519,102154,2017-08-27 14:00:00,32.700000,0.0,hourly
7520,7520,102154,2017-08-27 15:00:00,34.000000,0.0,hourly
7521,7521,102154,2017-08-27 16:00:00,34.000000,0.0,hourly
7522,7522,102154,2017-08-27 17:00:00,34.000000,0.0,hourly
7523,7523,102154,2017-08-27 18:00:00,33.666667,0.0,hourly
7524,7524,102154,2017-08-27 19:00:00,32.666667,0.0,hourly
7525,7525,102154,2017-08-27 20:00:00,29.900000,0.0,hourly
7526,7526,102154,2017-08-27 21:00:00,28.000000,0.0,hourly
7527,7527,102154,2017-08-27 22:00:00,26.666667,0.0,hourly
7528,7528,102154,2017-08-27 23:00:00,27.300000,0.0,hourly

In [33]:
test[test['series_id']==102781].index.tolist()

[0, 1, 2, 3, 4, 5, 6]

In [22]:
test['series_id'].unique().shape

(625,)

In [8]:
testx=test

In [14]:
testx['series_id'].unique()

array([102781, 103342, 102969, 102718, 102493, 102374, 102714, 100712,
       101878, 103268, 103578, 100735, 101027, 103626, 100649, 100257,
       101234, 103058, 101428, 101275, 100698, 100990, 100148, 103328,
       101661, 101577, 102176, 101018, 101424, 102868, 102549, 103167,
       101464, 102618, 102898, 102448, 103098, 102722, 101169, 102196,
       103332, 100472, 100637, 103477, 100667, 102406, 101226, 101121,
       102920, 100730, 100360, 103449, 103464, 101672, 102340, 102471,
       101411, 100658, 101414, 102394, 100167, 102568, 101318, 102367,
       100646, 103629, 101664, 100809, 103236, 100012, 102090, 101860,
       101667, 102164, 103219, 100072, 101747, 103073, 100380, 102630,
       103049, 100925, 100711, 100902, 100204, 100761, 100733, 103271,
       102879, 102719, 103438, 103463, 103617, 102765, 102047, 101050,
       102078, 101964, 101477, 100814, 102288, 101046, 101413, 102943,
       101482, 103175, 103254, 100905, 100593, 103364, 100477, 100746,
       103434, 101002, 102123, 102167, 101004, 102160, 101302, 103380,
       100289, 103131, 101284, 103523, 103166, 102905, 102028, 102245,
       100252, 102279, 101698, 100732, 101518, 103476, 103455, 101189,
       100835, 101361, 101503, 100235, 100803, 102424, 102229, 103527,
       100901, 101295, 100605, 102830, 102202, 101848, 100242, 100582,
       103505, 102796, 102465, 101353, 102910, 100717, 103356, 101450,
       101975, 100815, 100876, 102377, 102560, 101693, 100775, 103541,
       101065, 103385, 100882, 100584, 101929, 101738, 103125, 103597,
       100310, 101581, 103461, 100104, 100769, 100351, 101335, 103392,
       103601, 100501, 103312, 102198, 101266, 100094, 100335, 103132,
       102244, 103302, 102001, 103423, 102984, 102806, 100758, 100799,
       102857, 102992, 101084, 100486, 100820, 103299, 101582, 103040,
       102354, 102349, 101441, 103539, 101750, 100074, 101420, 100777,
       103024, 103208, 102645, 101497, 101618, 102538, 102042, 100696,
       100638, 101850, 102904, 103345, 101182, 102581, 100004, 102280,
       102274, 100373, 103220, 102577, 100243, 100447, 100497, 101045,
       100202, 103525, 100393, 103615, 101745, 100028, 100110, 102218,
       102901, 103274, 100798, 103315, 101483, 102693, 102180, 102925,
       103475, 101340, 101071, 100987, 102459, 103292, 100062, 101407,
       103062, 100679, 100164, 101998, 102254, 101973, 101781, 100402,
       100256, 100466, 102662, 100556, 103135, 101042, 101063, 100749,
       100050, 103056, 100350, 103357, 102772, 100401, 103499, 101729,
       103492, 102556, 101402, 101052, 102055, 101446, 103556, 102647,
       102658, 100738, 101205, 103042, 102890, 100409, 102988, 101399,
       102177, 100715, 101993, 103489, 100229, 101788, 103486, 100981,
       101488, 102963, 102264, 102364, 101715, 100668, 102391, 101733,
       103214, 101852, 101193, 102157, 101982, 103158, 101059, 101592,
       101736, 101544, 103061, 102145, 102118, 103567, 100840, 103619,
       102384, 102139, 103608, 101017, 102627, 101901, 102168, 103227,
       102951, 100306, 100946, 102333, 101358, 103150, 101849, 101041,
       100245, 103363, 100296, 100634, 103176, 101178, 102053, 101486,
       101119, 102369, 102664, 100069, 100311, 103500, 102091, 100054,
       102287, 100020, 101047, 100203, 102311, 101866, 100246, 100369,
       102825, 100781, 101623, 100550, 102356, 101611, 100432, 100277,
       101136, 100147, 102111, 100890, 100571, 102786, 100708, 102510,
       101942, 103599, 100927, 101468, 102600, 100485, 103448, 101608,
       101278, 101354, 103362, 101174, 103119, 103300, 103301, 101129,
       100753, 103282, 103180, 100150, 100740, 101198, 102146, 103446,
       103368, 101627, 102000, 103450, 101556, 100280, 100599, 101924,
       100806, 101808, 100078, 103528, 101240, 100376, 100491, 102559,
       102660, 100721, 101433, 103393, 101874, 103164, 100503, 103359,
       102193, 101410, 101091, 102536, 102292, 103338, 100578, 102671,
       100240, 103095, 102760, 100274, 102103, 100205, 103366, 100692,
       101610, 103170, 100933, 101985, 100747, 102837, 100531, 101937,
       102248, 101184, 103052, 102365, 101823, 100128, 100398, 103336,
       103551, 102421, 102527, 102128, 102743, 101950, 101214, 101267,
       100090, 102170, 103545, 101777, 100570, 100810, 101421, 101844,
       101322, 100049, 102171, 100010, 101904, 102957, 101465, 102711,
       102239, 100974, 102771, 100338, 102489, 102474, 102192, 101024,
       103149, 102127, 100492, 103628, 101431, 100071, 103326, 103439,
       102329, 100513, 101948, 103251, 103161, 103107, 102332, 100365,
       101947, 103351, 103445, 101978, 103305, 103065, 101070, 100082,
       101088, 103319, 101873, 100506, 100389, 102884, 102080, 102412,
       101439, 100358, 102607, 100416, 100872, 103186, 100874, 100765,
       103120, 100922, 102467, 101520, 103594, 101498, 103504, 103099,
       101760, 102425, 102999, 100672, 100366, 103034, 100859, 100514,
       102654, 101128, 103200, 102611, 103478, 102289, 100845, 102010,
       103078, 103267, 101427, 102270, 103530, 102487, 101879, 103111,
       102398, 103155, 102009, 102649, 100744, 102263, 101530, 103531,
       102216, 102185, 100454, 101305, 103379, 101325, 103396, 103365,
       100290, 101719, 100731, 101434, 101112, 100135, 101521, 100635,
       101514, 101994, 103007, 101110, 100867, 101902, 101537, 103537,
       100530, 101329, 101153, 101389, 103343, 102532, 100146, 101442,
       100843, 103252, 102428, 100099, 101159, 100111, 102161, 100096,
       102154])

In [16]:
testx[testx['series_id']==101848]

,pred_id,series_id,timestamp,temperature,consumption,prediction_window
1679,1679,101848,2017-01-02 00:00:00,-0.723810,0.0,weekly
1680,1680,101848,2017-01-09 00:00:00,-2.557242,0.0,weekly

In [25]:
test[test['series_id']==102830]

       Unnamed: 0  series_id            timestamp   consumption  temperature
26616       26616     102830  2017-10-11 00:00:00  31406.175252          NaN
26617       26617     102830  2017-10-11 01:00:00  31119.519524          NaN
26618       26618     102830  2017-10-11 02:00:00  32405.127030          NaN
26619       26619     102830  2017-10-11 03:00:00  31423.548326          NaN
26620       26620     102830  2017-10-11 04:00:00  31341.026223          NaN
26621       26621     102830  2017-10-11 05:00:00  31162.952210          NaN
26622       26622     102830  2017-10-11 06:00:00  34059.912367          NaN
26623       26623     102830  2017-10-11 07:00:00  45491.395324          NaN
26624       26624     102830  2017-10-11 08:00:00  47089.718169          NaN
26625       26625     102830  2017-10-11 09:00:00  47250.419108          NaN
26626       26626     102830  2017-10-11 10:00:00  46247.124061          NaN
26627       26627     102830  2017-10-11 11:00:00  44635.771410          NaN
26628       26628     102830  2017-10-11 12:00:00  46333.989433          NaN
26629       26629     102830  2017-10-11 13:00:00  48414.415093          NaN
26630       26630     102830  2017-10-11 14:00:00  45504.425130          NaN
26631       26631     102830  2017-10-11 15:00:00  45951.781796          NaN
26632       26632     102830  2017-10-11 16:00:00  49513.262049          NaN
26633       26633     102830  2017-10-11 17:00:00  52762.026962          NaN
26634       26634     102830  2017-10-11 18:00:00  48835.712147          NaN
26635       26635     102830  2017-10-11 19:00:00  48127.759365          NaN
26636       26636     102830  2017-10-11 20:00:00  38555.195369          NaN
26637       26637     102830  2017-10-11 21:00:00  30420.253280          NaN
26638       26638     102830  2017-10-11 22:00:00  31692.830980          NaN
26639       26639     102830  2017-10-11 23:00:00  29382.212084          NaN
26640       26640     102830  2017-10-12 00:00:00  31584.249265          NaN
26641       26641     102830  2017-10-12 01:00:00  27992.366132          NaN
26642       26642     102830  2017-10-12 02:00:00  30941.445512          NaN
26643       26643     102830  2017-10-12 03:00:00  32431.186642          NaN
26644       26644     102830  2017-10-12 04:00:00  31736.263666          NaN
26645       26645     102830  2017-10-12 05:00:00  29625.435126          NaN
...           ...        ...                  ...           ...          ...
26826       26826     102830  2017-10-19 18:00:00  54108.440228          NaN
26827       26827     102830  2017-10-19 19:00:00  52735.967350          NaN
26828       26828     102830  2017-10-19 20:00:00  37499.781099          NaN
26829       26829     102830  2017-10-19 21:00:00  30502.775383          NaN
26830       26830     102830  2017-10-19 22:00:00  27614.501764          NaN
26831       26831     102830  2017-10-19 23:00:00  30437.626354          NaN
26832       26832     102830  2017-10-20 00:00:00  28452.752604          NaN
26833       26833     102830  2017-10-20 01:00:00  30676.506127          NaN
26834       26834     102830  2017-10-20 02:00:00  30481.059040          NaN
26835       26835     102830  2017-10-20 03:00:00  30706.909007          NaN
26836       26836     102830  2017-10-20 04:00:00  30407.223474          NaN
26837       26837     102830  2017-10-20 05:00:00  27605.815226          NaN
26838       26838     102830  2017-10-20 06:00:00  33994.763338          NaN
26839       26839     102830  2017-10-20 07:00:00  41743.154522          NaN
26840       26840     102830  2017-10-20 08:00:00  44201.444550          NaN
26841       26841     102830  2017-10-20 09:00:00  46486.003834          NaN
26842       26842     102830  2017-10-20 10:00:00  47102.747975          NaN
26843       26843     102830  2017-10-20 11:00:00  52974.847123          NaN
26844       26844     102830  2017-10-20 12:00:00  45356.753998          NaN
26845       26845     102830  2017-10-20 13:00:00  54308.230584          NaN
26846       26846     102830  2017-10-20 14:00:00  49786.887970          NaN
26847       26847     102830  2017-10-20 15:00:00  52349.416445          NaN
26848       26848     102830  2017-10-20 16:00:00  47628.283476          NaN
26849       26849     102830  2017-10-20 17:00:00  47958.371890          NaN
26850       26850     102830  2017-10-20 18:00:00  47528.388298          NaN
26851       26851     102830  2017-10-20 19:00:00  48514.310270          NaN
26852       26852     102830  2017-10-20 20:00:00  36822.231197          NaN
26853       26853     102830  2017-10-20 21:00:00  30229.149461          NaN
26854       26854     102830  2017-10-20 22:00:00  29555.942828          NaN
26855       26855     102830  2017-10-20 23:00:00  30659.133053          NaN

[240 rows x 5 columns]

In [19]:
trainx[trainx['series_id']==102245]

Empty DataFrame
Columns: [series_id, timestamp, consumption, temperature]
Index: []

In [26]:
testx['month']=pd.to_datetime(testx['timestamp'],format='%Y-%m-%d %H:%M:%S').dt.month.values.tolist()
testx['week']=pd.to_datetime(testx['timestamp'],format='%Y-%m-%d %H:%M:%S').dt.week.values.tolist()
testx['dayofweek']=pd.to_datetime(testx['timestamp'],format='%Y-%m-%d %H:%M:%S').dt.dayofweek.values.tolist()
# if idx!=1000:
#     if sundayoff[idx]==1 and saturdayoff[idx]==1:
#         testx['WeekDay'] = (testx['dayofweek'] < 5).astype(int)
#     elif sundayoff[idx]==1 and saturdayoff[idx]==0:
#         testx['WeekDay'] = (testx['dayofweek'] < 6).astype(int)
#     elif sundayoff[idx]==0 and saturdayoff[idx]==0:
#         testx['WeekDay'] = (testx['dayofweek'] < 7).astype(int)
# else:
#     testx['WeekDay'] = (testx['dayofweek'] < 5).astype(int)
testx['day']=pd.to_datetime(testx['timestamp'],format='%Y-%m-%d %H:%M:%S').dt.day.values.tolist()
testx['dayofyear']=pd.to_datetime(testx['timestamp'],format='%Y-%m-%d %H:%M:%S').dt.dayofyear.values.tolist()
testx['ordinal'] = pd.to_datetime(testx['timestamp'],format='%Y-%m-%d %H:%M:%S').apply(lambda x: x.toordinal())
#testx['ordinal']=test_ordinal(x,733581,testx.shape[0])
#    testx['ordinal'] = pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').apply(lambda x: x.toordinal())
#    testx['ordinal']=testx['ordinal']-p
#    testx['Summer']=0
#    testx.loc[(4<=testx.month) & (testx.month <=7),'Summer']=1
#    testx['Quarter'] = pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.quarter
#    testx['month_start'] =pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.is_month_start
#    testx['month_end'] =pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.is_month_end
testx['hour']=pd.to_datetime(testx['timestamp'],format='%Y-%m-%d %H:%M:%S').dt.hour.values.tolist()
testx['minute']=pd.to_datetime(testx['timestamp'],format='%Y-%m-%d %H:%M:%S').dt.minute.values.tolist()
testx['seconds']=3600*testx['hour']+60*testx['minute']
testx['daylight'] = ((testx['hour'] >= 7) & (testx['hour'] <= 18)).astype(int)
test_tot=pd.concat([testx.iloc[:,3],testx.iloc[:,6:]],axis=1)
dtest = xgb.DMatrix(data=test_tot)
a=clf1.predict(dtest)

In [27]:
a

array([248347.98 ,  81196.13 , 166840.11 , ...,  68337.12 ,  36253.016,
        82533.984], dtype=float32)

In [28]:
sub=pd.read_csv('submission_coldstart.csv')
sub

,pred_id,series_id,timestamp,temperature,consumption,prediction_window
0,0,102781,2013-03-03 00:00:00,19.931250,0.0,daily
1,1,102781,2013-03-04 00:00:00,20.034375,0.0,daily
2,2,102781,2013-03-05 00:00:00,19.189583,0.0,daily
3,3,102781,2013-03-06 00:00:00,18.397917,0.0,daily
4,4,102781,2013-03-07 00:00:00,20.762500,0.0,daily
5,5,102781,2013-03-08 00:00:00,19.800000,0.0,daily
6,6,102781,2013-03-09 00:00:00,20.466667,0.0,daily
7,7,103342,2013-06-26 00:00:00,10.486607,0.0,weekly
8,8,103342,2013-07-03 00:00:00,10.006548,0.0,weekly
9,9,102969,2013-12-15 00:00:00,20.214583,0.0,daily
10,10,102969,2013-12-16 00:00:00,20.056250,0.0,daily
11,11,102969,2013-12-17 00:00:00,19.956250,0.0,daily
12,12,102969,2013-12-18 00:00:00,18.352083,0.0,daily
13,13,102969,2013-12-19 00:00:00,18.252083,0.0,daily
14,14,102969,2013-12-20 00:00:00,17.779167,0.0,daily
15,15,102969,2013-12-21 00:00:00,17.918750,0.0,daily
16,16,102718,2015-01-06 00:00:00,19.733333,0.0,daily
17,17,102718,2015-01-07 00:00:00,20.152083,0.0,daily
18,18,102718,2015-01-08 00:00:00,19.583333,0.0,daily
19,19,102718,2015-01-09 00:00:00,20.279167,0.0,daily
20,20,102718,2015-01-10 00:00:00,20.662500,0.0,daily
21,21,102718,2015-01-11 00:00:00,20.950000,0.0,daily
22,22,102718,2015-01-12 00:00:00,21.383333,0.0,daily
23,23,102493,2015-10-17 00:00:00,14.476488,0.0,weekly
24,24,102493,2015-10-24 00:00:00,15.066667,0.0,weekly
25,25,102374,2016-09-17 00:00:00,13.033333,0.0,weekly
26,26,102374,2016-09-24 00:00:00,14.073214,0.0,weekly
27,27,102714,2013-09-03 00:00:00,10.896726,0.0,weekly
28,28,102714,2013-09-10 00:00:00,12.070680,0.0,weekly
29,29,100712,2013-10-17 00:00:00,15.048810,0.0,weekly
...,...,...,...,...,...,...
7499,7499,102161,2017-05-07 00:00:00,17.045833,0.0,daily
7500,7500,102161,2017-05-08 00:00:00,15.813889,0.0,daily
7501,7501,102161,2017-05-09 00:00:00,15.877778,0.0,daily
7502,7502,102161,2017-05-10 00:00:00,17.102778,0.0,daily
7503,7503,100096,2017-07-18 00:00:00,26.209524,0.0,weekly
7504,7504,100096,2017-07-25 00:00:00,25.606118,0.0,weekly
7505,7505,102154,2017-08-27 00:00:00,25.666667,0.0,hourly
7506,7506,102154,2017-08-27 01:00:00,25.000000,0.0,hourly
7507,7507,102154,2017-08-27 02:00:00,24.500000,0.0,hourly
7508,7508,102154,2017-08-27 03:00:00,25.000000,0.0,hourly
7509,7509,102154,2017-08-27 04:00:00,24.000000,0.0,hourly
7510,7510,102154,2017-08-27 05:00:00,22.300000,0.0,hourly
7511,7511,102154,2017-08-27 06:00:00,21.666667,0.0,hourly
7512,7512,102154,2017-08-27 07:00:00,21.000000,0.0,hourly
7513,7513,102154,2017-08-27 08:00:00,24.300000,0.0,hourly
7514,7514,102154,2017-08-27 09:00:00,27.000000,0.0,hourly
7515,7515,102154,2017-08-27 10:00:00,28.333333,0.0,hourly
7516,7516,102154,2017-08-27 11:00:00,30.400000,0.0,hourly
7517,7517,102154,2017-08-27 12:00:00,31.333333,0.0,hourly
7518,7518,102154,2017-08-27 13:00:00,33.000000,0.0,hourly
7519,7519,102154,2017-08-27 14:00:00,32.700000,0.0,hourly
7520,7520,102154,2017-08-27 15:00:00,34.000000,0.0,hourly
7521,7521,102154,2017-08-27 16:00:00,34.000000,0.0,hourly
7522,7522,102154,2017-08-27 17:00:00,34.000000,0.0,hourly
7523,7523,102154,2017-08-27 18:00:00,33.666667,0.0,hourly
7524,7524,102154,2017-08-27 19:00:00,32.666667,0.0,hourly
7525,7525,102154,2017-08-27 20:00:00,29.900000,0.0,hourly
7526,7526,102154,2017-08-27 21:00:00,28.000000,0.0,hourly
7527,7527,102154,2017-08-27 22:00:00,26.666667,0.0,hourly
7528,7528,102154,2017-08-27 23:00:00,27.300000,0.0,hourly

In [14]:
#sub['consumption']=a.tolist()
final_sub.to_csv('sub_cold_start.csv',index=False)

In [2]:
train=train.dropna(subset=['Value'], how='all')
train=train.reset_index()
del train['index']
train

          obs_id  SiteId            Timestamp  ForecastId         Value
0         744519       1  2014-09-03 00:00:00           1  9.096555e+05
1        7627564       1  2014-09-04 00:00:00           1  1.748273e+06
2        3625268       1  2014-09-08 00:00:00           1  1.964878e+06
3        6038546       1  2014-09-09 00:00:00           1  3.266904e+06
4        4114748       1  2014-09-10 00:00:00           1  2.926094e+06
5        2572804       1  2014-09-11 00:00:00           1  1.720502e+06
6        2078763       1  2014-09-12 00:00:00           1  1.136248e+06
7        2088236       1  2014-09-13 00:00:00           1  1.040529e+06
8         330448       1  2014-09-14 00:00:00           1  1.030668e+06
9        1085235       1  2014-09-15 00:00:00           1  1.226753e+06
10       2629496       1  2014-09-16 00:00:00           1  1.228874e+06
11       3828297       1  2014-09-17 00:00:00           1  1.169026e+06
12       7855117       1  2014-09-18 00:00:00           1  1.513722e+06
13        882799       1  2014-09-19 00:00:00           1  2.015528e+06
14       3046848       1  2014-09-20 00:00:00           1  2.548943e+06
15        829135       1  2014-09-21 00:00:00           1  4.235358e+06
16       4339052       1  2014-09-22 00:00:00           1  5.538000e+06
17       4210177       1  2014-09-23 00:00:00           1  6.145531e+06
18       7684808       1  2014-09-24 00:00:00           1  5.536844e+06
19       6224650       1  2014-09-25 00:00:00           1  4.212580e+06
20       5327620       1  2014-09-26 00:00:00           1  4.778401e+06
21       1541431       1  2014-09-27 00:00:00           1  5.907855e+06
22       3513640       1  2014-09-28 00:00:00           1  4.677118e+06
23        720788       1  2014-09-29 00:00:00           1  2.470595e+06
24       6135591       1  2014-09-30 00:00:00           1  2.676795e+06
25       4289315       1  2014-10-01 00:00:00           1  2.445638e+06
26       5427741       1  2014-10-02 00:00:00           1  2.358238e+06
27        396625       1  2014-10-03 00:00:00           1  1.987666e+06
28       6827250       1  2014-10-04 00:00:00           1  1.377485e+06
29       2372286       1  2014-10-05 00:00:00           1  1.372104e+06
...          ...     ...                  ...         ...           ...
6473199   771879     305  2015-11-19 05:15:00        6974  2.333001e+02
6473200  4491452     305  2015-11-19 05:30:00        6974  2.607036e+02
6473201   994331     305  2015-11-19 05:45:00        6974  2.510754e+02
6473202  1185403     305  2015-11-19 06:00:00        6974  2.133030e+02
6473203  6333266     305  2015-11-19 06:15:00        6974  2.614443e+02
6473204  4335337     305  2015-11-19 06:30:00        6974  3.214357e+02
6473205  4603823     305  2015-11-19 06:45:00        6974  2.081185e+02
6473206  4139553     305  2015-11-19 07:00:00        6974  2.081185e+02
6473207  7756804     305  2015-11-19 07:15:00        6974  2.414471e+02
6473208  2975813     305  2015-11-19 07:30:00        6974  2.495941e+02
6473209  5961150     305  2015-11-19 07:45:00        6974  2.073779e+02
6473210  7321812     305  2015-11-19 08:00:00        6974  7.147131e+02
6473211  4480353     305  2015-11-19 08:15:00        6974  2.317448e+03
6473212  4640292     305  2015-11-19 08:30:00        6974  2.283379e+03
6473213  6397025     305  2015-11-19 08:45:00        6974  2.448540e+03
6473214  2574155     305  2015-11-19 09:00:00        6974  3.646888e+03
6473215  2232662     305  2015-11-19 09:15:00        6974  3.568381e+03
6473216  2258488     305  2015-11-19 09:30:00        6974  3.655776e+03
6473217  6939312     305  2015-11-19 09:45:00        6974  3.877966e+03
6473218  4855906     305  2015-11-19 10:00:00        6974  3.987580e+03
6473219  3888549     305  2015-11-19 10:15:00        6974  3.954993e+03
6473220  3876799     305  2015-11-19 10:30:00        6974  3.926108e+03
6473221  6257184     305  2015-11-19 10:45:00        6974  3.801681e+03
6473222  5705016     305  2015-11-19 11:00:00        6974  3.776499e+03
6473223  5809953     305  2015-11-19 11:15:00        6974  3.733543e+03
6473224  2344172     305  2015-11-19 11:30:00        6974  3.824641e+03
6473225  5113853     305  2015-11-19 11:45:00        6974  3.766131e+03
6473226  5227641     305  2015-11-19 12:00:00        6974  3.736505e+03
6473227  3750622     305  2015-11-19 12:15:00        6974  3.816494e+03
6473228  2559139     305  2015-11-19 12:30:00        6974  4.269763e+03

[6473229 rows x 5 columns]

In [3]:
metadata=pd.read_csv('metadata.csv')

In [4]:
siteid=[]
sundayoff=[]
saturdayoff=[]
for c in metadata['SiteId'].unique().tolist():
    siteid.append(c)
    if metadata[metadata['SiteId']==c]['SaturdayIsDayOff'].values[0]==True:
        
        saturdayoff.append(1)
    else:
        saturdayoff.append(0)
    if metadata[metadata['SiteId']==c]['SundayIsDayOff'].values[0]==True:
        
        sundayoff.append(1)
    else:
        sundayoff.append(0)
    print (c)

1
2
3
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
25
26
27
29
32
33
34
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
57
58
59
60
61
62
63
64
65
66
67
68
69
70
72
73
74
75
76
77
78
83
84
85
86
87
88
89
90
92
93
94
96
98
99
100
101
102
105
106
107
108
109
110
111
112
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
134
135
136
139
140
141
142
143
145
146
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
167
169
170
171
172
173
174
175
176
177
178
180
181
182
183
184
185
186
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
215
216
217
218
219
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
292
293
294
295
297
298
299
300
301
302
303
304
305

In [5]:
def test_ordinal(y,p,test_size):
    ord_list=[]
    count=0
    y=y.reset_index()
    del y['index']
    y['hour']=pd.to_datetime(y['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.hour.values.tolist()
    y['minute']=pd.to_datetime(y['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.minute.values.tolist()
    y['seconds']=3600*y['hour']+60*y['minute']
    y['ordinal'] = pd.to_datetime(y['Timestamp'],format='%Y-%m-%d %H:%M:%S').apply(lambda x: x.toordinal())
    
    y['ordinal']=y['ordinal']-p
    size=y.shape[0]
    if abs(y['minute'][size-1]-y['minute'][size-2])==15 or abs(y['minute'][size-1]-y['minute'][size-2])==45 or abs(y['hour'][size-1]-y['hour'][size-2])==5:
        m=int((86400-y['seconds'][size-1])/900)
        for i in range(m-1):
            ord_list.append(y['ordinal'][size-1])
            count=count+1
            if count==test_size:
                break
        k=y['ordinal'][size-1]
        while count<test_size:
            k=k+1
            for i in range(96):
                ord_list.append(k)
                count=count+1
                if count==test_size:
                    break
    
        
    elif abs(y['minute'][size-1]-y['minute'][size-2])==30:
        m=int((86400-y['seconds'][size-1])/1800)
        for i in range(m-1):
            ord_list.append(y['ordinal'][size-1])
            count=count+1
            if count==test_size:
                break
        k=y['ordinal'][size-1]
        while count<test_size:
            k=k+1
            for i in range(48):
                ord_list.append(k)
                count=count+1
                if count==test_size:
                    break
    
    
    elif abs(y['minute'][size-1]-y['minute'][size-2])==0 and  (abs(y['hour'][size-1]-y['hour'][size-2])==1 or 
                                                               abs(y['hour'][size-1]-y['hour'][size-2])==2 or
                                                               abs(y['hour'][size-1]-y['hour'][size-2])==20 or
                                                               abs(y['hour'][size-1]-y['hour'][size-2])==21 or
                                                               abs(y['hour'][size-1]-y['hour'][size-2])==23):
        m=int((86400-y['seconds'][size-1])/3600)
        for i in range(m-1):
            ord_list.append(y['ordinal'][size-1])
            count=count+1
            if count==test_size:
                break
        k=y['ordinal'][size-1]
        while count<test_size:
            k=k+1
            for i in range(24):
                ord_list.append(k)
                count=count+1
                if count==test_size:
                    break
    
        
    elif abs(y['minute'][size-1]-y['minute'][size-2])==0 and  abs(y['hour'][size-1]-y['hour'][size-2])==0:
        k=y['ordinal'][size-1]
        while count<test_size:
            k=k+1
            
            ord_list.append(k)
            count=count+1
    return ord_list

In [6]:
pred1=[]
import xgboost as xgb
#from catboost import CatBoostRegressor
#import lightgbm as lgb
sample=pd.read_csv('submission_format.csv')    

for i in range(1,241):
    
    x=train[train['ForecastId']==i]
    y=x['SiteId'].unique()[0]
#    z=weather[weather['SiteId']==y]
    trainx=x.iloc[:,0:3]
    temp1=[]
    dis1=[]
#temp2=[]
#dis2=[]
#    for j in range(trainx.shape[0]):
    
#        try:
#        dis2.append(z[z['Timestamp']==trainx['Timestamp'][i]]['Distance'].values[1])
#            dis1.append(z[z['Timestamp']==trainx['Timestamp'][j]]['Distance'].values[0])
        
#            temp1.append(z[z['Timestamp']==trainx['Timestamp'][j]]['Temperature'].values[0])
#        temp2.append(z[z['Timestamp']==trainx['Timestamp'][i]]['Temperature'].values[1])
#        except:
            
#            if j!=0:
                
#                dis1.append(dis1[j-1])
#                temp1.append(temp1[j-1])
#            else:
#                dis1.append(z['Distance'].mean())
#                temp1.append(z['Temperature'].mean())
#        dis2.append(dis2[i-1])
#        temp2.append(temp2[i-1])
#    print(i)

#    trainx['dis1']=dis1
#    trainx['temp1']=temp1
    trainy=x.iloc[:,4]
    idx=siteid.index(y)
#trainy

    trainx['month']=pd.to_datetime(trainx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.month.values.tolist()
    trainx['week']=pd.to_datetime(trainx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.week.values.tolist()
    trainx['dayofweek']=pd.to_datetime(trainx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.dayofweek.values.tolist()
    if sundayoff[idx]==1 and saturdayoff[idx]==1:
        trainx['WeekDay'] = (trainx['dayofweek'] < 5).astype(int)
    elif sundayoff[idx]==1 and saturdayoff[idx]==0:
        trainx['WeekDay'] = (trainx['dayofweek'] < 6).astype(int)
    elif sundayoff[idx]==0 and saturdayoff[idx]==0:
        trainx['WeekDay'] = (trainx['dayofweek'] < 7).astype(int)
    trainx['day']=pd.to_datetime(trainx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.day.values.tolist()
    trainx['dayofyear']=pd.to_datetime(trainx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.dayofyear.values.tolist()
    
    trainx['ordinal'] = pd.to_datetime(trainx['Timestamp'],format='%Y-%m-%d %H:%M:%S').apply(lambda x: x.toordinal())
    trainx['ordinal']=trainx['ordinal']-733581
    trainx['hour']=pd.to_datetime(trainx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.hour.values.tolist()
    trainx['minute']=pd.to_datetime(trainx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.minute.values.tolist()
    trainx['seconds']=3600*trainx['hour']+60*trainx['minute']
    trainx['daylight'] = ((trainx['hour'] >= 7) & (trainx['hour'] <= 18)).astype(int)

    trainx_new=trainx.iloc[:,3:14]
#trainx_new
#    trainx_new=trainx.iloc[0:int(0.90*trainx.shape[0]),3:16]
#    valx_new=trainx.iloc[int(0.9*trainx.shape[0]):,3:16]
#    trainy_new=x.iloc[0:int(0.90*trainx.shape[0]):,4]
#    valy_new=x.iloc[int(0.9*trainx.shape[0]):,4]

#trainx_new


# read in data
    dtrain = xgb.DMatrix(trainx_new,label=trainy)
#    dval = xgb.DMatrix(valx_new,label=valy_new)
    #dtrain = lgb.Dataset(trainx_new, label =trainy)

    watchlist = [(dtrain, 'train')]

# read in data
    #dtrain = xgb.DMatrix(trainx_new,label=trainy)
    #dtrain = lgb.Dataset(trainx_new, label =trainy)

    #watchlist = [(dtrain, 'train')]
    params ={'eta':0.1,'seed':0,'subsample':1.0,'colsample_bytree':1.0,'objective':'reg:linear','max_depth':8,'min_child_weight':1}
#params ={'eta':0.1,'seed':0,'subsample':1.0,'colsample_bytree':1.0,'objective':'binary:logistic',
#         #'random_state':0,
         #'n_estimators':100,
#         'max_depth':3,'min_child_weight':1}
    #params = {'task': 'train',
#    'boosting_type': 'gbdt',
#    'application': 'regression',
#    'metric': 'rmse',
#    'learning_rate': 0.1, 
#    'max_depth': 40, 
#    'num_leaves': 1000,
#    'feature_fraction': 1.0, 
#    'bagging_fraction': 1.0, 
#    'bagging_freq': 3,
#    }
#    model = CatBoostRegressor(depth=8, iterations=100, learning_rate=0.1,random_seed=1,thread_count=4)
#    try:
#        model.fit(trainx_new ,trainy,
#          verbose=True)
    clf1 = xgb.train(params, dtrain, 800, watchlist, maximize=False, verbose_eval=20)
#    clf1 = lgb.train(params, dtrain, num_boost_round=800,valid_sets=[dtrain])
#clf1.get_fscore()

#sample=pd.read_csv('submission_format.csv')
#sample
    
    x1=sample[sample['ForecastId']==i]
    
    x=train[train['ForecastId']==i]
    
    y=x1['SiteId'].unique()[0]
    if x.shape[0]==0:
        x=train[train['SiteId']==y]
    if y in siteid:
        idx=siteid.index(y)
    else:
        idx=1000
    testx=x1.iloc[:,0:3]
#    z=weather[weather['SiteId']==y]
        
#testx
#    temp1=[]
#    dis1=[]
#temp2=[]
#dis2=[]
#    for j in range(testx.shape[0]):
    
#        try:
#        dis2.append(z[z['Timestamp']==trainx['Timestamp'][i]]['Distance'].values[1])
#            dis1.append(z[z['Timestamp']==testx['Timestamp'][j]]['Distance'].values[0])
#        
#            temp1.append(z[z['Timestamp']==testx['Timestamp'][j]]['Temperature'].values[0])
#        temp2.append(z[z['Timestamp']==trainx['Timestamp'][i]]['Temperature'].values[1])
#        except:
#            if j!=0:
#                dis1.append(dis1[j-1])
#                temp1.append(temp1[j-1])
#            else:
#                dis1.append(z['Distance'].mean())
#                temp1.append(z['Temperature'].mean())
#        dis2.append(dis2[i-1])
#        temp2.append(temp2[i-1])
#    print(i)

#    testx['dis1']=dis1
#    testx['temp1']=temp1
    testx['month']=pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.month.values.tolist()
    testx['week']=pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.week.values.tolist()
    testx['dayofweek']=pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.dayofweek.values.tolist()
    if idx!=1000:
        if sundayoff[idx]==1 and saturdayoff[idx]==1:
            testx['WeekDay'] = (testx['dayofweek'] < 5).astype(int)
        elif sundayoff[idx]==1 and saturdayoff[idx]==0:
            testx['WeekDay'] = (testx['dayofweek'] < 6).astype(int)
        elif sundayoff[idx]==0 and saturdayoff[idx]==0:
            testx['WeekDay'] = (testx['dayofweek'] < 7).astype(int)
    else:
        testx['WeekDay'] = (testx['dayofweek'] < 5).astype(int)
    testx['day']=pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.day.values.tolist()
    testx['dayofyear']=pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.dayofyear.values.tolist()
    testx['ordinal']=test_ordinal(x,733581,testx.shape[0])
#    testx['ordinal'] = pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').apply(lambda x: x.toordinal())
#    testx['ordinal']=testx['ordinal']-p
#    testx['Summer']=0
#    testx.loc[(4<=testx.month) & (testx.month <=7),'Summer']=1
#    testx['Quarter'] = pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.quarter
#    testx['month_start'] =pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.is_month_start
#    testx['month_end'] =pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.is_month_end
    testx['hour']=pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.hour.values.tolist()
    testx['minute']=pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.minute.values.tolist()
    testx['seconds']=3600*testx['hour']+60*testx['minute']
    testx['daylight'] = ((testx['hour'] >= 7) & (testx['hour'] <= 18)).astype(int)
    

    testx_new=testx.iloc[:,3:14]
#testx_new

    dtest = xgb.DMatrix(data=testx_new)
    a=clf1.predict(dtest)
    for j in range(a.shape[0]):
        pred1.append(a[j])
    print (i)
    print ('DONE')
    
#    h=models[indices.index(y)]
#    a=h.predict(dtest)   
#    m=a.shape[0]
#    a=a.tolist()
#    for j in range(m):
#        pred.append(a[j])
#    print (i)
#    indices.append(i)
#    print ('DONE')
#    except:
#        x1=sample[sample['ForecastId']==i]

#        testx=x1.iloc[:,0:3]
#        for j in range(testx.shape[0]):
#            pred.append(trainy.unique()[0])
#        print (i)

#sample['Value']=pred
#sample.to_csv('power_forecast_allpredviasiteidmodels_depth6_addedfeatures_weekno_dayear_test_ordinal_lr0.1.csv',index=False)

/home/dell/anaconda3/lib/python3.5/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

[0]	train-rmse:4.70956e+06
[20]	train-rmse:886183
[40]	train-rmse:312184
[60]	train-rmse:190547
[80]	train-rmse:136821
[100]	train-rmse:112161
[120]	train-rmse:90592.6
[140]	train-rmse:72359.3
[160]	train-rmse:60301.8
[180]	train-rmse:49820.3
[200]	train-rmse:40126.8
[220]	train-rmse:32536.5
[240]	train-rmse:26474.1
[260]	train-rmse:22029.6
[280]	train-rmse:18324.5
[300]	train-rmse:15627
[320]	train-rmse:11303.6
[340]	train-rmse:9683.58
[360]	train-rmse:8232.25
[380]	train-rmse:6597.13
[400]	train-rmse:5507.78
[420]	train-rmse:4640
[440]	train-rmse:4025.85
[460]	train-rmse:3207.42
[480]	train-rmse:2388.73
[500]	train-rmse:1986.68
[520]	train-rmse:1602.73
[540]	train-rmse:1282.02
[560]	train-rmse:1052.97
[580]	train-rmse:851.881
[600]	train-rmse:725.875
[620]	train-rmse:617.131
[640]	train-rmse:544.449
[660]	train-rmse:468.11
[680]	train-rmse:403.789
[700]	train-rmse:362.135
[720]	train-rmse:322.198
[740]	train-rmse:287.803
[760]	train-rmse:247.251
[780]	train-rmse:213.599
1
DONE
[0]	train-rmse:5.72037e+06
[20]	train-rmse:1.08018e+06
[40]	train-rmse:277091
[60]	train-rmse:109653
[80]	train-rmse:50707.9
[100]	train-rmse:19233.1
[120]	train-rmse:7998.75
[140]	train-rmse:3683.16
[160]	train-rmse:2175.82
[180]	train-rmse:1080.63
[200]	train-rmse:449.304
[220]	train-rmse:239.309
[240]	train-rmse:155.5
[260]	train-rmse:100.148
[280]	train-rmse:61.7626
[300]	train-rmse:43.9963
[320]	train-rmse:26.2481
[340]	train-rmse:17.7015
[360]	train-rmse:12.187
[380]	train-rmse:8.54078
[400]	train-rmse:6.12258
[420]	train-rmse:4.91226
[440]	train-rmse:4.0396
[460]	train-rmse:3.81117
[480]	train-rmse:3.81117
[500]	train-rmse:3.81117
[520]	train-rmse:3.81117
[540]	train-rmse:3.81117
[560]	train-rmse:3.81117
[580]	train-rmse:3.81117
[600]	train-rmse:3.81117
[620]	train-rmse:3.81117
[640]	train-rmse:3.81117
[660]	train-rmse:3.81117
[680]	train-rmse:3.81117
[700]	train-rmse:3.81117
[720]	train-rmse:3.81117
[740]	train-rmse:3.81117
[760]	train-rmse:3.81117
[780]	train-rmse:3.81117
2
DONE
[0]	train-rmse:4.29714e+06
[20]	train-rmse:788289
[40]	train-rmse:270421
[60]	train-rmse:138702
[80]	train-rmse:95602.2
[100]	train-rmse:63186.8
[120]	train-rmse:47708
[140]	train-rmse:37361
[160]	train-rmse:29902.1
[180]	train-rmse:23685
[200]	train-rmse:18932.9
[220]	train-rmse:14809.6
[240]	train-rmse:12273.8
[260]	train-rmse:10595.1
[280]	train-rmse:7786.46
[300]	train-rmse:5711.21
[320]	train-rmse:4515.2
[340]	train-rmse:3683.74
[360]	train-rmse:3071.89
[380]	train-rmse:2647.01
[400]	train-rmse:1989.76
[420]	train-rmse:1693.93
[440]	train-rmse:1483.18
[460]	train-rmse:1259
[480]	train-rmse:1103.86
[500]	train-rmse:930.542
[520]	train-rmse:835.877
[540]	train-rmse:706.682
[560]	train-rmse:570.529
[580]	train-rmse:461.036
[600]	train-rmse:395.809
[620]	train-rmse:348.76
[640]	train-rmse:311.84
[660]	train-rmse:281.339
[680]	train-rmse:256.81
[700]	train-rmse:227.398
[720]	train-rmse:199.309
[740]	train-rmse:165.826
[760]	train-rmse:147.298
[780]	train-rmse:127.266
3
DONE
[0]	train-rmse:5.71123e+06
[20]	train-rmse:982850
[40]	train-rmse:261923
[60]	train-rmse:102192
[80]	train-rmse:52582.3
[100]	train-rmse:29622.6
[120]	train-rmse:17146.8
[140]	train-rmse:10803.4
[160]	train-rmse:6666.92
[180]	train-rmse:3990.74
[200]	train-rmse:2281.6
[220]	train-rmse:1312.88
[240]	train-rmse:794.139
[260]	train-rmse:456.927
[280]	train-rmse:309.356
[300]	train-rmse:218.209
[320]	train-rmse:149.261
[340]	train-rmse:66.4321
[360]	train-rmse:37.2328
[380]	train-rmse:23.7919
[400]	train-rmse:14.483
[420]	train-rmse:8.98184
[440]	train-rmse:6.88906
[460]	train-rmse:6.07138
[480]	train-rmse:5.65292
[500]	train-rmse:5.14655
[520]	train-rmse:4.93466
[540]	train-rmse:4.69665
[560]	train-rmse:3.67933
[580]	train-rmse:3.58169

KeyboardInterrupt:

In [7]:
pred=[]
import xgboost as xgb
#from catboost import CatBoostRegressor
#import lightgbm as lgb
sample=pd.read_csv('submission_format.csv')    

temp=pd.DataFrame(columns=['obs_id','SiteId','Timestamp','ForecastId','Value'])
y_prev=1
z=train[train['SiteId']==y_prev]

for i in range(1,241):
    
    x=train[train['ForecastId']==i]
    y=x['SiteId'].unique()[0]
     
    if y==y_prev:
#        z=train[train['SiteId']==y]
        t=z[z['ForecastId']==i]
        temp=pd.concat([temp,t],axis=0)
    else:
        y_prev=y
        temp=pd.DataFrame(columns=['obs_id','SiteId','Timestamp','ForecastId','Value'])
        z=train[train['SiteId']==y]
        t=z[z['ForecastId']==i]
        temp=pd.concat([temp,t],axis=0)
#    z=weather[weather['SiteId']==y]
    trainx=temp.iloc[:,0:3]
    temp1=[]
    dis1=[]
#temp2=[]
#dis2=[]
#    for j in range(trainx.shape[0]):
    
#        try:
#        dis2.append(z[z['Timestamp']==trainx['Timestamp'][i]]['Distance'].values[1])
#            dis1.append(z[z['Timestamp']==trainx['Timestamp'][j]]['Distance'].values[0])
        
#            temp1.append(z[z['Timestamp']==trainx['Timestamp'][j]]['Temperature'].values[0])
#        temp2.append(z[z['Timestamp']==trainx['Timestamp'][i]]['Temperature'].values[1])
#        except:
            
#            if j!=0:
                
#                dis1.append(dis1[j-1])
#                temp1.append(temp1[j-1])
#            else:
#                dis1.append(z['Distance'].mean())
#                temp1.append(z['Temperature'].mean())
#        dis2.append(dis2[i-1])
#        temp2.append(temp2[i-1])
#    print(i)

#    trainx['dis1']=dis1
#    trainx['temp1']=temp1
    trainy=temp.iloc[:,4]
    idx=siteid.index(y)
#trainy

    trainx['month']=pd.to_datetime(trainx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.month.values.tolist()
    trainx['week']=pd.to_datetime(trainx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.week.values.tolist()
    trainx['dayofweek']=pd.to_datetime(trainx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.dayofweek.values.tolist()
    if sundayoff[idx]==1 and saturdayoff[idx]==1:
        trainx['WeekDay'] = (trainx['dayofweek'] < 5).astype(int)
    elif sundayoff[idx]==1 and saturdayoff[idx]==0:
        trainx['WeekDay'] = (trainx['dayofweek'] < 6).astype(int)
    elif sundayoff[idx]==0 and saturdayoff[idx]==0:
        trainx['WeekDay'] = (trainx['dayofweek'] < 7).astype(int)
    trainx['day']=pd.to_datetime(trainx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.day.values.tolist()
    trainx['dayofyear']=pd.to_datetime(trainx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.dayofyear.values.tolist()
    
    trainx['ordinal'] = pd.to_datetime(trainx['Timestamp'],format='%Y-%m-%d %H:%M:%S').apply(lambda x: x.toordinal())
    trainx['ordinal']=trainx['ordinal']-733581
    trainx['hour']=pd.to_datetime(trainx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.hour.values.tolist()
    trainx['minute']=pd.to_datetime(trainx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.minute.values.tolist()
    trainx['seconds']=3600*trainx['hour']+60*trainx['minute']
    trainx['daylight'] = ((trainx['hour'] >= 7) & (trainx['hour'] <= 18)).astype(int)

    trainx_new=trainx.iloc[:,3:14]
#trainx_new
#    trainx_new=trainx.iloc[0:int(0.90*trainx.shape[0]),3:16]
#    valx_new=trainx.iloc[int(0.9*trainx.shape[0]):,3:16]
#    trainy_new=x.iloc[0:int(0.90*trainx.shape[0]):,4]
#    valy_new=x.iloc[int(0.9*trainx.shape[0]):,4]

#trainx_new


# read in data
    dtrain = xgb.DMatrix(trainx_new,label=trainy)
#    dval = xgb.DMatrix(valx_new,label=valy_new)
    #dtrain = lgb.Dataset(trainx_new, label =trainy)

    watchlist = [(dtrain, 'train')]

# read in data
    #dtrain = xgb.DMatrix(trainx_new,label=trainy)
    #dtrain = lgb.Dataset(trainx_new, label =trainy)

    #watchlist = [(dtrain, 'train')]
    params ={'eta':0.1,'seed':0,'subsample':1.0,'colsample_bytree':1.0,'objective':'reg:linear','max_depth':8,'min_child_weight':1}
#params ={'eta':0.1,'seed':0,'subsample':1.0,'colsample_bytree':1.0,'objective':'binary:logistic',
#         #'random_state':0,
         #'n_estimators':100,
#         'max_depth':3,'min_child_weight':1}
    #params = {'task': 'train',
#    'boosting_type': 'gbdt',
#    'application': 'regression',
#    'metric': 'rmse',
#    'learning_rate': 0.1, 
#    'max_depth': 40, 
#    'num_leaves': 1000,
#    'feature_fraction': 1.0, 
#    'bagging_fraction': 1.0, 
#    'bagging_freq': 3,
#    }
#    model = CatBoostRegressor(depth=8, iterations=100, learning_rate=0.1,random_seed=1,thread_count=4)
#    try:
#        model.fit(trainx_new ,trainy,
#          verbose=True)
    clf1 = xgb.train(params, dtrain, 800, watchlist, maximize=False, verbose_eval=20)
#    clf1 = lgb.train(params, dtrain, num_boost_round=800,valid_sets=[dtrain])
#clf1.get_fscore()

#sample=pd.read_csv('submission_format.csv')
#sample
    
    x1=sample[sample['ForecastId']==i]
    
    x=train[train['ForecastId']==i]
    
    y=x1['SiteId'].unique()[0]
    if x.shape[0]==0:
        x=train[train['SiteId']==y]
    if y in siteid:
        idx=siteid.index(y)
    else:
        idx=1000
    testx=x1.iloc[:,0:3]
#    z=weather[weather['SiteId']==y]
        
#testx
#    temp1=[]
#    dis1=[]
#temp2=[]
#dis2=[]
#    for j in range(testx.shape[0]):
    
#        try:
#        dis2.append(z[z['Timestamp']==trainx['Timestamp'][i]]['Distance'].values[1])
#            dis1.append(z[z['Timestamp']==testx['Timestamp'][j]]['Distance'].values[0])
#        
#            temp1.append(z[z['Timestamp']==testx['Timestamp'][j]]['Temperature'].values[0])
#        temp2.append(z[z['Timestamp']==trainx['Timestamp'][i]]['Temperature'].values[1])
#        except:
#            if j!=0:
#                dis1.append(dis1[j-1])
#                temp1.append(temp1[j-1])
#            else:
#                dis1.append(z['Distance'].mean())
#                temp1.append(z['Temperature'].mean())
#        dis2.append(dis2[i-1])
#        temp2.append(temp2[i-1])
#    print(i)

#    testx['dis1']=dis1
#    testx['temp1']=temp1
    testx['month']=pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.month.values.tolist()
    testx['week']=pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.week.values.tolist()
    testx['dayofweek']=pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.dayofweek.values.tolist()
    if idx!=1000:
        if sundayoff[idx]==1 and saturdayoff[idx]==1:
            testx['WeekDay'] = (testx['dayofweek'] < 5).astype(int)
        elif sundayoff[idx]==1 and saturdayoff[idx]==0:
            testx['WeekDay'] = (testx['dayofweek'] < 6).astype(int)
        elif sundayoff[idx]==0 and saturdayoff[idx]==0:
            testx['WeekDay'] = (testx['dayofweek'] < 7).astype(int)
    else:
        testx['WeekDay'] = (testx['dayofweek'] < 5).astype(int)
    testx['day']=pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.day.values.tolist()
    testx['dayofyear']=pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.dayofyear.values.tolist()
    testx['ordinal']=test_ordinal(x,733581,testx.shape[0])
#    testx['ordinal'] = pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').apply(lambda x: x.toordinal())
#    testx['ordinal']=testx['ordinal']-p
#    testx['Summer']=0
#    testx.loc[(4<=testx.month) & (testx.month <=7),'Summer']=1
#    testx['Quarter'] = pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.quarter
#    testx['month_start'] =pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.is_month_start
#    testx['month_end'] =pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.is_month_end
    testx['hour']=pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.hour.values.tolist()
    testx['minute']=pd.to_datetime(testx['Timestamp'],format='%Y-%m-%d %H:%M:%S').dt.minute.values.tolist()
    testx['seconds']=3600*testx['hour']+60*testx['minute']
    testx['daylight'] = ((testx['hour'] >= 7) & (testx['hour'] <= 18)).astype(int)
    

    testx_new=testx.iloc[:,3:14]
#testx_new

    dtest = xgb.DMatrix(data=testx_new)
    a=clf1.predict(dtest)
    for j in range(a.shape[0]):
        pred.append(a[j])
    print (i)
    print ('DONE')
    
#    h=models[indices.index(y)]
#    a=h.predict(dtest)   
#    m=a.shape[0]
#    a=a.tolist()
#    for j in range(m):
#        pred.append(a[j])
#    print (i)
#    indices.append(i)
#    print ('DONE')
#    except:
#        x1=sample[sample['ForecastId']==i]

#        testx=x1.iloc[:,0:3]
#        for j in range(testx.shape[0]):
#            pred.append(trainy.unique()[0])
#        print (i)

#sample['Value']=pred
#sample.to_csv('power_forecast_allpredviasiteidmodels_depth6_addedfeatures_weekno_dayear_test_ordinal_lr0.1.csv',index=False)

[0]	train-rmse:4.70956e+06
[20]	train-rmse:886183
[40]	train-rmse:312184
[60]	train-rmse:190547
[80]	train-rmse:136821
[100]	train-rmse:112161
[120]	train-rmse:90592.6
[140]	train-rmse:72359.3
[160]	train-rmse:60301.8
[180]	train-rmse:49820.3
[200]	train-rmse:40126.8
[220]	train-rmse:32536.5
[240]	train-rmse:26474.1
[260]	train-rmse:22029.6
[280]	train-rmse:18324.5
[300]	train-rmse:15627
[320]	train-rmse:11303.6
[340]	train-rmse:9683.58
[360]	train-rmse:8232.25
[380]	train-rmse:6597.13
[400]	train-rmse:5507.78
[420]	train-rmse:4640
[440]	train-rmse:4025.85
[460]	train-rmse:3207.42
[480]	train-rmse:2388.73
[500]	train-rmse:1986.68
[520]	train-rmse:1602.73
[540]	train-rmse:1282.02
[560]	train-rmse:1052.97
[580]	train-rmse:851.881
[600]	train-rmse:725.875
[620]	train-rmse:617.131
[640]	train-rmse:544.449
[660]	train-rmse:468.11
[680]	train-rmse:403.789
[700]	train-rmse:362.135
[720]	train-rmse:322.198
[740]	train-rmse:287.803
[760]	train-rmse:247.251
[780]	train-rmse:213.599
1
DONE
[0]	train-rmse:4.92356e+06
[20]	train-rmse:948433
[40]	train-rmse:368388
[60]	train-rmse:227194
[80]	train-rmse:177967
[100]	train-rmse:140150
[120]	train-rmse:113851
[140]	train-rmse:86101.9
[160]	train-rmse:67825.8
[180]	train-rmse:53833.6
[200]	train-rmse:39619.9
[220]	train-rmse:31974.8
[240]	train-rmse:23216.5
[260]	train-rmse:19176
[280]	train-rmse:15376.3
[300]	train-rmse:12739.6
[320]	train-rmse:10773.4
[340]	train-rmse:8730.96
[360]	train-rmse:6869.2
[380]	train-rmse:5589.35
[400]	train-rmse:4627.95
[420]	train-rmse:3975.16
[440]	train-rmse:3344.41
[460]	train-rmse:2842.19
[480]	train-rmse:2446.08
[500]	train-rmse:2103.58
[520]	train-rmse:1753.06
[540]	train-rmse:1478.15
[560]	train-rmse:1301.06
[580]	train-rmse:1134.67
[600]	train-rmse:982.785
[620]	train-rmse:742.184
[640]	train-rmse:544.521
[660]	train-rmse:453.084
[680]	train-rmse:369.502
[700]	train-rmse:320.256
[720]	train-rmse:269.554
[740]	train-rmse:237.539
[760]	train-rmse:186.969
[780]	train-rmse:156.935
2
DONE
[0]	train-rmse:4.66016e+06
[20]	train-rmse:956911
[40]	train-rmse:467682
[60]	train-rmse:320192
[80]	train-rmse:233249
[100]	train-rmse:194122
[120]	train-rmse:161908
[140]	train-rmse:133845
[160]	train-rmse:111460
[180]	train-rmse:98621.5
[200]	train-rmse:86832.2
[220]	train-rmse:76353.8
[240]	train-rmse:67171.4
[260]	train-rmse:58423.2
[280]	train-rmse:51351.7
[300]	train-rmse:42907.4
[320]	train-rmse:35881.3
[340]	train-rmse:31836.9
[360]	train-rmse:27848.7
[380]	train-rmse:25666.2
[400]	train-rmse:22082.6
[420]	train-rmse:19022.9
[440]	train-rmse:17107.3
[460]	train-rmse:15291.8
[480]	train-rmse:13756.9
[500]	train-rmse:12180.7
[520]	train-rmse:10905.8
[540]	train-rmse:9610.88
[560]	train-rmse:8332.54
[580]	train-rmse:7530.39
[600]	train-rmse:6669.9
[620]	train-rmse:6094.88
[640]	train-rmse:5518.81
[660]	train-rmse:5119.86
[680]	train-rmse:4660.16
[700]	train-rmse:4202.58
[720]	train-rmse:3795.89
[740]	train-rmse:3518.69
[760]	train-rmse:3093.61
[780]	train-rmse:2737.63
3
DONE
[0]	train-rmse:4.77709e+06
[20]	train-rmse:934958
[40]	train-rmse:390006
[60]	train-rmse:287213
[80]	train-rmse:232226
[100]	train-rmse:186748
[120]	train-rmse:156274
[140]	train-rmse:131883
[160]	train-rmse:111395
[180]	train-rmse:99192.7
[200]	train-rmse:84228.2
[220]	train-rmse:76154.8
[240]	train-rmse:62737.7
[260]	train-rmse:54766.7
[280]	train-rmse:47822.1
[300]	train-rmse:41569.4
[320]	train-rmse:37387.4
[340]	train-rmse:34306.5
[360]	train-rmse:29664.1
[380]	train-rmse:27614.5
[400]	train-rmse:23988.5
[420]	train-rmse:21368
[440]	train-rmse:19032.9
[460]	train-rmse:16902.5
[480]	train-rmse:15433.2
[500]	train-rmse:13904.1
[520]	train-rmse:12963.4
[540]	train-rmse:11898
[560]	train-rmse:10832.2
[580]	train-rmse:9919.15
[600]	train-rmse:8811.55
[620]	train-rmse:7993.95
[640]	train-rmse:6830.68
[660]	train-rmse:5844.96
[680]	train-rmse:5309.39
[700]	train-rmse:4763.96
[720]	train-rmse:4280.96
[740]	train-rmse:4036.34
[760]	train-rmse:3653.55
[780]	train-rmse:3286.65
4
DONE
[0]	train-rmse:106209
[20]	train-rmse:16816.7
[40]	train-rmse:5493.95
[60]	train-rmse:3200.28
[80]	train-rmse:2433.43
[100]	train-rmse:1934.69
[120]	train-rmse:1440.9
[140]	train-rmse:1048.86
[160]	train-rmse:813.673
[180]	train-rmse:680.95
[200]	train-rmse:576.697
[220]	train-rmse:488.766
[240]	train-rmse:400.52
[260]	train-rmse:317.046
[280]	train-rmse:253.521
[300]	train-rmse:205.858
[320]	train-rmse:176.405
[340]	train-rmse:148.154
[360]	train-rmse:129.158
[380]	train-rmse:105.284
[400]	train-rmse:91.1515
[420]	train-rmse:77.9337
[440]	train-rmse:65.4878
[460]	train-rmse:56.6291
[480]	train-rmse:46.4495
[500]	train-rmse:37.5774
[520]	train-rmse:33.3423
[540]	train-rmse:30.1609
[560]	train-rmse:26.0599
[580]	train-rmse:22.3577
[600]	train-rmse:20.2916
[620]	train-rmse:18.4094
[640]	train-rmse:17.0021
[660]	train-rmse:14.735
[680]	train-rmse:12.8429
[700]	train-rmse:11.3922
[720]	train-rmse:9.89433
[740]	train-rmse:8.46315
[760]	train-rmse:7.37471
[780]	train-rmse:6.58624
5
DONE
[0]	train-rmse:109120
[20]	train-rmse:17176.3
[40]	train-rmse:6393.86
[60]	train-rmse:4118.1
[80]	train-rmse:3257.12
[100]	train-rmse:2467.47
[120]	train-rmse:1942.98
[140]	train-rmse:1602.13
[160]	train-rmse:1327.4
[180]	train-rmse:1150.52
[200]	train-rmse:984.027
[220]	train-rmse:867.021
[240]	train-rmse:764.328
[260]	train-rmse:673.476
[280]	train-rmse:594.437
[300]	train-rmse:521.869
[320]	train-rmse:479.258
[340]	train-rmse:435.224
[360]	train-rmse:393.314
[380]	train-rmse:342.279
[400]	train-rmse:310.542
[420]	train-rmse:270.593
[440]	train-rmse:247.841
[460]	train-rmse:220.937
[480]	train-rmse:200.389
[500]	train-rmse:184.155
[520]	train-rmse:171.153
[540]	train-rmse:159.235
[560]	train-rmse:142.451
[580]	train-rmse:128.463
[600]	train-rmse:119.862
[620]	train-rmse:106.963
[640]	train-rmse:95.437
[660]	train-rmse:89.4354
[680]	train-rmse:81.031
[700]	train-rmse:73.7891
[720]	train-rmse:68.1738
[740]	train-rmse:63.1568
[760]	train-rmse:58.3793
[780]	train-rmse:53.6687
6
DONE
[0]	train-rmse:109846
[20]	train-rmse:18088.6
[40]	train-rmse:7316.31
[60]	train-rmse:4870.53
[80]	train-rmse:3747.2
[100]	train-rmse:3160.33
[120]	train-rmse:2691.32
[140]	train-rmse:2305.34
[160]	train-rmse:1986.32
[180]	train-rmse:1772.59
[200]	train-rmse:1576.65
[220]	train-rmse:1377.44
[240]	train-rmse:1210.25
[260]	train-rmse:1084.21
[280]	train-rmse:982.098
[300]	train-rmse:900.834
[320]	train-rmse:835.38
[340]	train-rmse:783.287
[360]	train-rmse:731.286
[380]	train-rmse:675.523
[400]	train-rmse:619.365
[420]	train-rmse:567.018
[440]	train-rmse:531.018
[460]	train-rmse:491.031
[480]	train-rmse:449.071
[500]	train-rmse:421.624
[520]	train-rmse:381.254
[540]	train-rmse:348.59
[560]	train-rmse:328.804
[580]	train-rmse:308.399
[600]	train-rmse:288.72
[620]	train-rmse:260.084
[640]	train-rmse:244.579
[660]	train-rmse:224.646
[680]	train-rmse:208.097
[700]	train-rmse:200.344
[720]	train-rmse:186.879
[740]	train-rmse:173.286
[760]	train-rmse:160.166
[780]	train-rmse:147.343
7
DONE
[0]	train-rmse:113504
[20]	train-rmse:19687.2
[40]	train-rmse:8780.47
[60]	train-rmse:5980.58
[80]	train-rmse:5035.06
[100]	train-rmse:4308.46
[120]	train-rmse:3762.29
[140]	train-rmse:3423.81
[160]	train-rmse:2910.3
[180]	train-rmse:2559.92
[200]	train-rmse:2309.12
[220]	train-rmse:2061.23
[240]	train-rmse:1879.48
[260]	train-rmse:1681.52
[280]	train-rmse:1575.52
[300]	train-rmse:1424.55
[320]	train-rmse:1328.4
[340]	train-rmse:1235.99
[360]	train-rmse:1164.46
[380]	train-rmse:1053.4
[400]	train-rmse:970.201
[420]	train-rmse:912.094
[440]	train-rmse:855.915
[460]	train-rmse:800.789
[480]	train-rmse:732.923
[500]	train-rmse:684.018
[520]	train-rmse:640.004
[540]	train-rmse:594.714
[560]	train-rmse:566.164
[580]	train-rmse:546.306
[600]	train-rmse:522.502
[620]	train-rmse:481.595
[640]	train-rmse:448.617
[660]	train-rmse:417.513
[680]	train-rmse:398.263
[700]	train-rmse:369.168
[720]	train-rmse:346.449
[740]	train-rmse:330.368
[760]	train-rmse:305.922
[780]	train-rmse:283.684
8
DONE
[0]	train-rmse:114062
[20]	train-rmse:19683.2
[40]	train-rmse:8799.38
[60]	train-rmse:6561.25
[80]	train-rmse:5522.6
[100]	train-rmse:4604.86
[120]	train-rmse:3921.22
[140]	train-rmse:3519.52
[160]	train-rmse:3218.94
[180]	train-rmse:2961.7
[200]	train-rmse:2747.53
[220]	train-rmse:2570.4
[240]	train-rmse:2340.33
[260]	train-rmse:2178.01
[280]	train-rmse:1960.88
[300]	train-rmse:1873.18
[320]	train-rmse:1786.15
[340]	train-rmse:1635.51
[360]	train-rmse:1524.5
[380]	train-rmse:1441.29
[400]	train-rmse:1349.99
[420]	train-rmse:1263.07
[440]	train-rmse:1188.26
[460]	train-rmse:1130.94
[480]	train-rmse:1066.69
[500]	train-rmse:995.429
[520]	train-rmse:939.257
[540]	train-rmse:878.843
[560]	train-rmse:831.074
[580]	train-rmse:787.802
[600]	train-rmse:712.835
[620]	train-rmse:663.633
[640]	train-rmse:625.756
[660]	train-rmse:583.483
[680]	train-rmse:554.254
[700]	train-rmse:518.502
[720]	train-rmse:497.432
[740]	train-rmse:474.485
[760]	train-rmse:449.126
[780]	train-rmse:434.443
9
DONE
[0]	train-rmse:113323
[20]	train-rmse:19734.7
[40]	train-rmse:9488.75
[60]	train-rmse:7214.12
[80]	train-rmse:6222
[100]	train-rmse:5561.35
[120]	train-rmse:4925.31
[140]	train-rmse:4494.15
[160]	train-rmse:4093.76
[180]	train-rmse:3758.85
[200]	train-rmse:3542.37
[220]	train-rmse:3283.08
[240]	train-rmse:3116.02
[260]	train-rmse:2868.53
[280]	train-rmse:2672.56
[300]	train-rmse:2468.99
[320]	train-rmse:2357.02
[340]	train-rmse:2199.08
[360]	train-rmse:2039.72
[380]	train-rmse:1898.99
[400]	train-rmse:1745.35
[420]	train-rmse:1646.71
[440]	train-rmse:1595.6
[460]	train-rmse:1520.19
[480]	train-rmse:1429.94
[500]	train-rmse:1351.25
[520]	train-rmse:1274.01
[540]	train-rmse:1211.52
[560]	train-rmse:1145.7
[580]	train-rmse:1092.08
[600]	train-rmse:1045.59
[620]	train-rmse:966.932
[640]	train-rmse:925.816
[660]	train-rmse:883.676
[680]	train-rmse:843.4
[700]	train-rmse:808.628
[720]	train-rmse:766.894
[740]	train-rmse:717.485
[760]	train-rmse:681.806
[780]	train-rmse:654.282
10
DONE
[0]	train-rmse:111313
[20]	train-rmse:20335.1
[40]	train-rmse:10135.6
[60]	train-rmse:7705.23
[80]	train-rmse:6420.93
[100]	train-rmse:5595.31
[120]	train-rmse:5051.42
[140]	train-rmse:4651.18
[160]	train-rmse:4242.83
[180]	train-rmse:3971.69
[200]	train-rmse:3743.73
[220]	train-rmse:3415.42
[240]	train-rmse:3167.48
[260]	train-rmse:2951.45
[280]	train-rmse:2802.65
[300]	train-rmse:2652.13
[320]	train-rmse:2474.34
[340]	train-rmse:2359.48
[360]	train-rmse:2184.73
[380]	train-rmse:2079.44
[400]	train-rmse:1968.09
[420]	train-rmse:1849.51
[440]	train-rmse:1750.08
[460]	train-rmse:1663.18
[480]	train-rmse:1595.5
[500]	train-rmse:1515.2
[520]	train-rmse:1437.17
[540]	train-rmse:1370.39
[560]	train-rmse:1311.03
[580]	train-rmse:1227.33
[600]	train-rmse:1178.74
[620]	train-rmse:1122.67
[640]	train-rmse:1085.14
[660]	train-rmse:1042.8
[680]	train-rmse:989.272
[700]	train-rmse:947.243
[720]	train-rmse:904.045
[740]	train-rmse:853.907
[760]	train-rmse:823.664
[780]	train-rmse:789.004
11
DONE
[0]	train-rmse:108555
[20]	train-rmse:21122.1
[40]	train-rmse:10699.5
[60]	train-rmse:8245.43
[80]	train-rmse:7026.81
[100]	train-rmse:6209.22
[120]	train-rmse:5706.36
[140]	train-rmse:5215.81
[160]	train-rmse:4775.46
[180]	train-rmse:4357.68
[200]	train-rmse:4055.71
[220]	train-rmse:3798.42
[240]	train-rmse:3581.46
[260]	train-rmse:3378.79
[280]	train-rmse:3192.05
[300]	train-rmse:2938.68
[320]	train-rmse:2767.53
[340]	train-rmse:2689.18
[360]	train-rmse:2560.21
[380]	train-rmse:2427.69
[400]	train-rmse:2334.31
[420]	train-rmse:2242.33
[440]	train-rmse:2156.92
[460]	train-rmse:2051.76
[480]	train-rmse:1923.11
[500]	train-rmse:1810.65
[520]	train-rmse:1750.57
[540]	train-rmse:1644.64
[560]	train-rmse:1560.2
[580]	train-rmse:1489.11
[600]	train-rmse:1406.93
[620]	train-rmse:1352.94
[640]	train-rmse:1286.51
[660]	train-rmse:1223.75
[680]	train-rmse:1177.14
[700]	train-rmse:1139.41
[720]	train-rmse:1110.68
[740]	train-rmse:1057.67
[760]	train-rmse:1029.65
[780]	train-rmse:994.105
12
DONE
[0]	train-rmse:108722
[20]	train-rmse:22024.9
[40]	train-rmse:11230.4
[60]	train-rmse:8179.83
[80]	train-rmse:7071.94
[100]	train-rmse:6345.16
[120]	train-rmse:5674.54
[140]	train-rmse:5183.76
[160]	train-rmse:4813.06
[180]	train-rmse:4537.67
[200]	train-rmse:4217.24
[220]	train-rmse:3946.23
[240]	train-rmse:3730.4
[260]	train-rmse:3521.69
[280]	train-rmse:3335.03
[300]	train-rmse:3134.34
[320]	train-rmse:2975.31
[340]	train-rmse:2866.52
[360]	train-rmse:2691.29
[380]	train-rmse:2549.03
[400]	train-rmse:2446.91
[420]	train-rmse:2345.26
[440]	train-rmse:2228.18
[460]	train-rmse:2165.11
[480]	train-rmse:2120.11
[500]	train-rmse:2049.2
[520]	train-rmse:1957.85
[540]	train-rmse:1867.59
[560]	train-rmse:1750.52
[580]	train-rmse:1683.57
[600]	train-rmse:1608.88
[620]	train-rmse:1536.93
[640]	train-rmse:1439.8
[660]	train-rmse:1362.12
[680]	train-rmse:1302.34
[700]	train-rmse:1260.02
[720]	train-rmse:1210.51
[740]	train-rmse:1170.33
[760]	train-rmse:1102.5
[780]	train-rmse:1065.06
13
DONE
[0]	train-rmse:108382
[20]	train-rmse:21756.8
[40]	train-rmse:11156.4
[60]	train-rmse:8620.05
[80]	train-rmse:7479.11
[100]	train-rmse:6803.8
[120]	train-rmse:6398.08
[140]	train-rmse:5809.35
[160]	train-rmse:5392.43
[180]	train-rmse:5059.77
[200]	train-rmse:4709.9
[220]	train-rmse:4411.43
[240]	train-rmse:4144.3
[260]	train-rmse:3939.26
[280]	train-rmse:3699.51
[300]	train-rmse:3553.67
[320]	train-rmse:3381.88
[340]	train-rmse:3238.52
[360]	train-rmse:3095.52
[380]	train-rmse:3001.64
[400]	train-rmse:2872.22
[420]	train-rmse:2727.46
[440]	train-rmse:2592.95
[460]	train-rmse:2494.05
[480]	train-rmse:2407.83
[500]	train-rmse:2311.11
[520]	train-rmse:2237.12
[540]	train-rmse:2197.02
[560]	train-rmse:2111.23
[580]	train-rmse:2040.15
[600]	train-rmse:1928.71
[620]	train-rmse:1844.51
[640]	train-rmse:1799.46
[660]	train-rmse:1744.12
[680]	train-rmse:1689.23
[700]	train-rmse:1630.02
[720]	train-rmse:1559.77
[740]	train-rmse:1493.55
[760]	train-rmse:1437.67
[780]	train-rmse:1371.41
14
DONE
[0]	train-rmse:109209
[20]	train-rmse:22231.2
[40]	train-rmse:12233.4
[60]	train-rmse:9406.95
[80]	train-rmse:8339.28
[100]	train-rmse:7616.13
[120]	train-rmse:7104.79
[140]	train-rmse:6433.36
[160]	train-rmse:5915.85
[180]	train-rmse:5498.82
[200]	train-rmse:5139.55
[220]	train-rmse:4763.4
[240]	train-rmse:4439

KeyboardInterrupt:

In [ ]:
import numpy as np
predt=0.2*np.array(pred1)+0.8*np.array(pred)
predt

In [ ]:
l=train['ForecastId'].unique().tolist()
forecastid=[]
meanforecast=[]
for c in l:
    forecastid.append(c)
    meanforecast.append(train[train['ForecastId']==c]['Value'].mean())
    print (c)
#train[train['ForecastId']==1]

In [ ]:
sample=pd.read_csv('submission_format.csv')
sample

In [ ]:
a1=sample['ForecastId'].value_counts().index.tolist()

In [ ]:
a2=sample['ForecastId'].value_counts().values.tolist()

In [ ]:
final_pred=[]
for i in range(len(predt)):
    final_pred.append(predt[i])

for c in sample['ForecastId'].unique().tolist()[240:]:
    if c in forecastid:
        for j in range(a2[a1.index(c)]):
            final_pred.append(meanforecast[forecastid.index(c)])
    else:
        for j in range(a2[a1.index(c)]):
            final_pred.append(sum(meanforecast)/len(meanforecast))
    print (c)
#for i in range(len(predfrm1400)):
#    final_pred.append(predfrm1400[i])        
    
#for c in sample['ForecastId'].unique().tolist()[1599:]:
#    if c in forecastid:
#        for j in range(a2[a1.index(c)]):
#            final_pred.append(meanforecast[forecastid.index(c)])
#    else:
#        for j in range(a2[a1.index(c)]):
#            final_pred.append(sum(meanforecast)/len(meanforecast))
#    print (c)

In [ ]:
sample['Value']=final_pred
sample.to_csv('power_forecast_submission.csv',index=False)